<template>
  <v-app :style="changeFont">
    <Sidebar v-if="isLoggedIn" />
    <Toolbar
      v-if="isLoggedIn"
      color="base"
      clipped-left
      dense
      app />
    <!-- <v-footer color="base" app>
      <span>kugelblitz &copy; 2019</span>
      <span></span>
    </v-footer> -->
    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>

<style scoped>
html {
  overflow: hidden;
}
</style>

<script>
import { mapState } from "vuex";
export default {
  name: "App",
  components: {
    Sidebar: () => import("./components/Sidebar"),
    Toolbar: () => import("./components/Toolbar")
  },
  data: () => ({}),
  computed: {
    ...mapState({
      isLoggedIn: state => state.application.loggedIn,
      changeFont: state => {
        return "font-family:" + state.application.font;
      }
    })
  },
  beforeCreate() {
    fetch(window.apiprefix + "hosttheme")
    .then(response => {
      response.json()
      .then(data => {
        if (response.status !== 200) {
          throw new Error(data.message || response.statusText);
        } else {
          this.$store.commit("application/hostTheme", data);
          if (data.theme) {
            this.$store.commit("application/theme", data.theme);
          }
        }
      });
    });
    let googleMapsScript = document.createElement("script");
    googleMapsScript.setAttribute("src", "https://maps.google.com/maps/api/js");
    document.head.appendChild(googleMapsScript);
  },
  mounted() {
    this.$vuetify.theme.base = "#009999";
  }
};
</script>
