<template>
  <div class="archive">
    <v-row>
      <v-col>
        <v-menu
          v-model="menuStartDate"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          :nudge-right="40"
          min-width="290px">
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="startDateFormatted"
              :label="$t('startDate')"
              prepend-icon="fa-calendar"
              dense
              v-on="on" />
          </template>
          <v-date-picker
            v-model="startDate"
            no-title
            @input="menuStartDate = false" />
        </v-menu>
      </v-col>
      <v-col>
        <v-menu
          ref="menuStartTime"
          v-model="menuStartTime"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="startTime"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px">
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="startTimeFormatted"
              :label="$t('startTime')"
              prepend-icon="fa-clock"
              readonly
              dense
              v-on="on" />
          </template>
          <v-time-picker
            v-if="menuStartTime"
            v-model="startTime"
            format="24hr"
            no-title
            full-width
            @click:minute="$refs.menuStartTime.save(startTime)" />
        </v-menu>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-menu
          v-model="menuEndDate"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="290px">
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="endDateFormatted"
              :label="$t('stopDate')"
              prepend-icon="fa-calendar"
              dense
              v-on="on" />
          </template>
          <v-date-picker
            v-model="endDate"
            no-title
            scrollable
            @input="menuEndDate = false" />
        </v-menu>
      </v-col>
      <v-col>
        <v-menu
          ref="menuEndTime"
          v-model="menuEndTime"
          :close-on-content-click="false"
          :nudge-right="40"
          :return-value.sync="endTime"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px">
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="endTimeFormatted"
              :label="$t('stopTime')"
              prepend-icon="fa-clock"
              readonly
              dense
              v-on="on" />
          </template>
          <v-time-picker
            v-if="menuEndTime"
            v-model="endTime"
            format="24hr"
            no-title
            full-width
            @click:minute="$refs.menuEndTime.save(endTime)" />
        </v-menu>
      </v-col>
    </v-row>
  </div>
</template>

<style>
.archive {
  height: 80%;
}
.timeslider-controls {
  display: flex;
  font-size: 70%;
}
</style>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      playing: false,
      startTimeFormatted: this.formatTime(new Date()),
      endTimeFormatted: this.formatTime(new Date()),
      startDateFormatted: this.formatDate(
        new Date(new Date().setDate(new Date().getDate() - 1))
      ),
      endDateFormatted: this.formatDate(new Date()),
      menuStartDate: false,
      menuStartTime: false,
      menuEndDate: false,
      menuEndTime: false,
      timeTick: ""
    };
  },
  computed: {
    ...mapState({
      tickMaximum: state => state.map.leafletTime.totalTicks,
      playDelay: state => 1000 / state.map.leafletTime.maxFPS
    }),
    startTime: {
      get: function() {
        return this.$store.state.map.archive.startTime;
      },
      set: function(value) {
        let tmp = new Date();
        tmp.setHours(value.split(":")[0], value.split(":")[1]);
        this.startTimeFormatted = this.formatTime(tmp);
        this.$store.commit("map/startTime", value);
      }
    },
    startDate: {
      get: function() {
        return this.parseDate(this.$store.state.map.archive.startDate);
      },
      set: function(value) {
        let tmp = new Date(value);
        this.startDateFormatted = this.formatDate(tmp);
        this.$store.commit("map/startDate", tmp);
      }
    },
    endTime: {
      get: function() {
        return this.$store.state.map.archive.endTime;
      },
      set: function(value) {
        let tmp = new Date();
        tmp.setHours(value.split(":")[0], value.split(":")[1]);
        this.endTimeFormatted = this.formatTime(tmp);
        this.$store.commit("map/endTime", value);
      }
    },
    endDate: {
      get: function() {
        return this.parseDate(this.$store.state.map.archive.endDate);
      },
      set: function(value) {
        let tmp = new Date(value);
        this.endDateFormatted = this.formatDate(tmp);
        this.$store.commit("map/endDate", tmp);
      }
    },
    playButtonIcon: {
      get() {
        return this.playing ? "fa-pause" : "fa-play";
      }
    },
    currentTime: {
      get() {
        return this.timeTick;
      },
      set(value) {
        this.$store.commit("map/requestTime", value);
      }
    },
    timeFrameLabels: {
      get() {
        return this.timeFrameOptions.map(o => o.label);
      }
    },
    timeFrame: {
      get() {
        if (this.timeFrameOptions.length === 0) {
          return null;
        }
        const option = this.timeFrameOptions.find(
          option =>
            option.tickMinutes === this.tickMinutes &&
            option.totalTicks === this.tickMaximum
        );
        return option.label || null;
      },
      set(value) {
        if (this.timeFrameOptions.length > 0) {
          const option = this.timeFrameOptions.find(o => o.label === value);
          this.$store.commit("map/setTimeFrame", option);
        }
      }
    },
    locale: {
      get() {
        return this.$i18n.locale;
      }
    }
  },
  watch: {
    date() {
      this.dateFormatted = this.formatDate(new Date(this.date));
    }
  },
  beforeDestroy() {
    this.$store.commit("map/archiveVisible", false);
  },
  methods: {
    /**
     * get a nice lael for Date strings.
     * TODO: needs i18n
     */

    /**
     * Parse the date object to a string with the format
     * "yyyy-MM-dd"
     */
    parseDate(date) {
      if (!date) return null;
      let year = date.getFullYear() + "";
      let month = date.getMonth() + 1 + "";
      let day = date.getDate() + "";
      return `${year}-${month}-${day.padStart(2, "0")}`;
    },

    /**
     * Format the date object to a localized string
     */
    formatDate(date) {
      return date.toLocaleDateString("de", {
        year: "numeric",
        month: "short",
        day: "2-digit"
      });
    },

    /**
     * Convert the given date ("yyyy-MM-dd") and time strings ("hh:mm") to a
     * date object.
     */
    toDate(date, time) {
      let tmp = new Date();
      let { hours, min } = time.split(":");
      tmp.setMinutes(min);
      tmp.setHours(hours);
      let { year, month, day } = date.split("-");
      tmp.setDate(day);
      tmp.setMonth(parseInt(month) - 1);
      tmp.setFullYear(year);
    },

    /**
     * Format the date object to a localized time string.
     */
    formatTime(time) {
      return time.toLocaleTimeString(this.locale, { hour12: false });
    }
  }
};
</script>
