<template>
  <div class="chart-container">
    <resize-observer @notify="resizeChart" />
    <div ref="chart" />
    <div ref="legend" />
  </div>
</template>
<style>
.chart-container {
  height: 75%;
  width: 100%;
  font-size: 80%;
  overflow: auto;
}
</style>

<script>
import Dygraph from "dygraphs";
export default {
  data: () => ({
    name: "blitzchart",
    graph: null,
    chartData:
      "2019-01-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-01-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-02-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-02-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-03-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-03-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-04-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-04-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-05-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-05-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-06-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-06-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-07-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-07-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-08-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-08-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-09-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-09-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-10-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-10-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-11-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-11-15," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-12-01," +
      Math.floor(Math.random() * 1000) +
      "\n" +
      "2019-12-15," +
      Math.floor(Math.random() * 1000) +
      "\n"
  }),
  mounted() {
    let width = this.$el.offsetWidth;
    this.$nextTick(function() {
      this.$refs.chart.style.height = "95%"; //this.$el.clientHeight + "px";
      this.$refs.chart.style.width = width * 0.8;
      this.graph = new Dygraph(this.$refs.chart, this.chartData, {
        legend: "always",
        legendFormatter: this.legend,
        labelsDiv: this.$refs.legend,
        width: width * 0.9,
        height: this.$el.offsetHeight,
        highlightCallback: this.showLegend
      });
    });
  },
  methods: {
    /**
     * Resize the chart element if it exists.
     */
    resizeChart() {
      if (this.graph) {
        this.graph.resize();
      }
    },

    /**
     * Format the legend.
     */
    legend(data) {
      if (data.x == null) {
        return "";
      }
      let date = new Date(data.x);
      return (
        date.getDate() +
        "." +
        (date.getMonth() + 1) +
        "." +
        date.getFullYear() +
        ": " +
        data.series[0].yHTML
      );
    },

    /**
     * Visualize a higlighted item of the chart in the correct position.
     */
    showLegend(mouse, x, series) {
      this.$refs.legend.style.position = "absolute";
      this.$refs.legend.style.left = series[0].canvasx + "px";
      this.$refs.legend.style.top = series[0].canvasy + 10 + "px";
    }
  }
};
</script>

<style></style>
