<template>
  <v-container
    container--fluid
    style="height:100%;overflow:auto;margin-bottom:80px;">
    <v-container
      container--fluid
      class="area">
      <v-switch
        v-for="item in availableLayers"
        :key="item.name"
        v-model="item.isActive"
        class="layer-select"
        color="primary"
        :label="item.displayName"
        @change="toggleLayer(item, $event)" />
    </v-container>
  </v-container>
</template>

<style>
.area {
  padding: 0px;
  display: table;
  overflow: auto;
}
.layer-select {
  display: table-row;
  margin-top: 0px;
  margin-left: 8px;
}
</style>

<script>
import { mapState } from "vuex";
// Initial state of layers are not displayed correctly. Do not waste time on
// this. The backend delivers configuration containing the information.
export default {
  computed: {
    ...mapState({
      availableLayers: state => state.map.leaflet.availableLayers
    })
  },
  methods: {
    toggleLayer(layer, event) {
      this.$store.commit("map/toggleLayer", {
        layerObj: layer,
        newState: event
      });
      this.$store.commit("application/toggleLayerState", {
        id: layer.layerID,
        state: event
      });
    }
  }
};
</script>
