<template>
  <div class="mapruler">
    <v-icon
      style="align:center">
      fa-ruler-horizontal
    </v-icon>
    <div class="mapruler-text">
      {{ distanceString }}
    </div>
  </div>
</template>

<style>
.mapruler {
  display: flex;
  overflow: hidden;
  padding: 5px;
  margin-top: -7px;
}
.mapruler-text {
  margin-left: 10px;
  font-size: 80%;
}
</style>

<script>
import { mapState } from "vuex";
import * as L from "leaflet";
export default {
  data() {
    return {
      markerColor: "#ff7800",
      startMarkerColor: "#78ff00",
      startLatLng: [],
      measuringLine: null,
      startMarker: null,
      currentDistance: 0,
      moving: false,
      mouseMoveFn: e => {
        if (this.moving) {
          this.measuringLine.clearLayers();
          this.currentDistance = this.leaflet.distance(
            this.startLatLng,
            e.latlng
          );
          this.startMarker.addTo(this.measuringLine);
          new L.Polyline([this.startLatLng, e.latlng], {
            color: this.markerColor,
            dashArray: "5",
            weight: 2
          }).addTo(this.measuringLine);
        }
      },
      clickStopFn: e => {
        this.startLatLng = [];
        this.moving = false;
        new L.CircleMarker(e.latlng, {
          radius: 2,
          color: this.startMarkerColor
        }).addTo(this.measuringLine);
        this.leaflet.once("click", this.clickStartFn, this);
      },
      clickStartFn: e => {
        this.startLatLng = e.latlng;
        this.currentDistance = 0;
        this.startMarker = new L.CircleMarker(e.latlng, {
          radius: 2,
          color: this.startMarkerColor
        });
        this.measuringLine.clearLayers();
        this.startMarker.addTo(this.measuringLine);
        this.moving = true;
        this.leaflet.once("click", this.clickStopFn, this);
      }
    };
  },
  computed: {
    ...mapState({
      leaflet: state => state.map.leaflet.LMap
    }),
    distanceString: {
      get() {
        if (this.moving && !this.currentDistance) {
          return this.$t("measure") + "...";
        }
        let decimals = 0;
        if (this.currentDistance < 1000) {
          decimals = 3;
        } else if (this.currentDistance < 10000) {
          decimals = 2;
        } else if (this.currentDistance < 100000) {
          decimals = 1;
        }
        return (this.currentDistance / 1000).toFixed(decimals) + " km";
      }
    }
  },
  mounted() {
    this.measuringLine = new L.LayerGroup().addTo(this.leaflet);
    this.leaflet.on("mousemove", this.mouseMoveFn, this);
    this.moving = true;
    this.leaflet.once("click", this.clickStartFn, this);
  },
  beforeDestroy() {
    this.leaflet.off("mousemove", this.mouseMoveFn, this);
    if (this.leaflet.hasLayer(this.measuringLine)) {
      this.leaflet.removeLayer(this.measuringLine);
    }
  }
};
</script>
