<template>
  <div class="statistics">
    <resize-observer @notify="resizeChart" />
    <div ref="chart" />
    <div class="statistics-container">
      <div
        ref="legend"
        class="statistics-legend" />
      <div class="statistics-overview">
        <div class="statistics-rows">
          &Sigma;
          {{ strokeValues.sum }}
          <div class="v-separator" />
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-icon
                class="legend-icon"
                style="transform: translateY(3px) rotate(30deg); margin-left: 5px; color: #ffffff;"
                v-on="on">
                fa-play
              </v-icon>
            </template>
            <span>cloudStrokes</span>
          </v-tooltip>
          {{ strokeValues.cloudStrokes }}
          <div class="v-separator" />
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-icon
                class="legend-icon"
                style="color: #a3a3a3; margin-left: 5px;"
                v-on="on">
                fa-circle
              </v-icon>
            </template>
            <span>nEarthStrokes</span>
          </v-tooltip>
          {{ strokeValues.nEarthStrokes }}
          <div class="v-separator" />
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-icon
                class="legend-icon"
                style="color: #707070;"
                v-on="on">
                fa-square
              </v-icon>
            </template>
            <span>pEarthStrokes</span>
          </v-tooltip>
          {{ strokeValues.pEarthStrokes }}
        </div>
      </div>
    </div>
    <div class="statistics-count">
      <div class="statistics-rows">
        &Sigma;
        {{ strokeCount.sum }}
        <div class="v-separator" />
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-icon
              class="legend-icon"
              style="transform: translateY(3px) rotate(30deg); margin-left: 5px; color: #ffffff;"
              v-on="on">
              fa-play
            </v-icon>
          </template>
          <span>cloudStrokes</span>
        </v-tooltip>
        {{ strokeCount.cloudStrokes }}
        <div class="v-separator" />
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-icon
              class="legend-icon"
              style="color: #a3a3a3; margin-left: 5px;"
              v-on="on">
              fa-circle
            </v-icon>
          </template>
          <span>nEarthStrokes</span>
        </v-tooltip>
        {{ strokeCount.nEarthStrokes }}
        <div class="v-separator" />
        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <v-icon
              class="legend-icon"
              style="color: #707070;"
              v-on="on">
              fa-square
            </v-icon>
          </template>
          <span>pEarthStrokes</span>
        </v-tooltip>
        {{ strokeCount.pEarthStrokes }}
      </div>
    </div>
  </div>
</template>
<style>
.statistics {
  position: absolute;
  right: 10px;
  bottom: 120px;
  width: 400px;
  height: 220px;
}
.statistics-container {
  bottom: 60px;
  right: 10px;
  width: 400px;
  height: 20px;
  display: flex;
  text-align: right;
  text-shadow: 0 0 2px black;
  color: white;
}
.statistics-legend {
  width: 120px;
  height: 20px;
}
.statistics-overview {
  width: 300px;
  height: 20px;
  display: flex;
}
.statistics-count{
  width: 300px;
  height: 20px;
  display: flex;
  text-align: right;
  color: white;
  text-shadow: 0 0 2px black;
  margin-left: auto;
}
.statistics-rows {
  display: flex;
  margin-right: 20px;
  margin-left: auto;
}
.legend-icon {
  margin-top: 5px;
  margin-right: 5px;
  font-size: 16px !important;
}
.v-separator {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-left: 2px solid white;
  height: 16px;
}
</style>

<script>
import { mapState } from "vuex";
import Dygraph from "dygraphs";
export default {
  data: () => ({
    name: "barchart",
    graph: null,
    maxY: 0,
    strokeValues: {
      nEarthStrokes: 0,
      pEarthStrokes: 0,
      cloudStrokes: 0,
      sum: 0
    },
    strokeCount: {
      nEarthStrokes: 0,
      pEarthStrokes: 0,
      cloudStrokes: 0,
      sum: 0
    },
    overallData: {
      nEarthStrokes: 0,
      pEarthStrokes: 0,
      cloudStrokes: 0,
      sum: 0
    },
    chartData: [
    ]
  }),
  computed: {
    ...mapState({
      timeRange: state => state.map.timeRange.selectedRange,
      maxBounds: state => state.map.leaflet.maxBounds,
      zoomBounds: state => state.map.leaflet.LMap.getBounds()
    })
  },
  watch: {
    timeRange() {
      this.reloadStats();
    },
    zoomBounds() {
      this.reloadStats();
    },
    maxBounds() {
      this.reloadStats();
    }
  },
  mounted() {
    this.reloadStats()
    .then(() => {
        let width = this.$el.offsetWidth;
        let me = this;
        this.$el.addEventListener("mouseleave", function() {
          me.strokeValues = {
            sum: 0,
            nEarthStrokes: 0,
            pEarthStrokes: 0,
            cloudStrokes: 0
          }
        });
        this.$nextTick(function() {
          this.graph = new Dygraph(this.$refs.chart, this.chartData, {
            legend: "always",
            legendFormatter: this.legend,
            labelsDiv: this.$refs.legend,
            width: width,
            highlightCircleSize: 0,
            height: this.$el.offsetHeight,
            plotter: this.plotter,
            drawAxis: false,
            drawGrid: false,
            drawAxesAtZero: true,
            xRangePad: 5,
            valueRange: [0, this.maxY],
            includeZero: true,
          });
        });
      });
  },

  methods: {
    /**
     * Resize the chart element if it exists.
     */
    resizeChart() {
      if (this.graph) {
        this.graph.resize();
      }
    },
    maxYValue() {
      for (const data of this.chartData) {
        let v = data[1] + data[2] + data[3];
        if (v > this.maxY) {
          this.maxY = v;
        }
      }
    },
    reloadStats() {
      const start = Math.floor((new Date().getTime() - this.timeRange[0])/1000)
      const end = Math.floor((new Date().getTime() - this.timeRange[1])/1000)
      const bounds =  this.zoomBounds.contains(this.maxBounds) ? this.maxBounds : this.zoomBounds;
      return new Promise(resolve => {
        fetch(window.apiprefix + "statistic?start=" + start +
          "&end=" + end +
          "&left=" + bounds.getSouthWest().lng +
          "&top=" + bounds.getNorthEast().lat +
          "&right=" + bounds.getNorthEast().lng +
          "&bottom=" + bounds.getSouthWest().lat,
          { method: "GET" }
        )
        .then(response => {
          response.json()
          .then(data => {
            if (response.status !== 200) {
              if (response.status !== 401) {
                throw new Error(data.message || response.statusText);
              } else {
                resolve();
              }
            } else {
                for(let i = 0; i < data.pEarth.length; i++) {
                  this.chartData.push([
                    new Date(data.pEarth[i].timestamp),
                    data.pEarth[i].count,
                    data.nEarth[i].count,
                    data.cloud[i].count
                  ]);
                }
                this.strokeCount = {
                  sum: data.countTotal,
                  nEarthStrokes: data.countNEarth,
                  pEarthStrokes: data.countPEarth,
                  cloudStrokes: data.countCloud
                }
                this.maxYValue();
                this.sumOverallData();
                resolve();
            }
          });
        });
      });
    },

    sumOverallData() {
      let pes = 0;
      let nes = 0;
      let cs = 0;
      let sum = 0;
      for (const d of this.chartData) {
        pes += d[1].toFixed(2);
        nes += d[2].toFixed(2);
        cs += d[3].toFixed(2);
        sum += pes + nes + cs;
      }
      this.overallData = {
        pEarthStrokes: pes,
        nEarthStrokes: nes,
        cloudStrokes: cs,
        sum: sum
      };
    },
    baseColor(xValue, ctx) {
      let sep = ctx.canvas.width / 6;
      if (xValue > sep * 5) {
        return "#ff0000";
      } else if (xValue > sep * 4 && xValue < sep * 5) {
        return "#ffff00";
      } else if (xValue > sep * 3 && xValue < sep * 4) {
        return "#008000";
      } else if (xValue > sep * 2 && xValue < sep * 3) {
        return "#add8e6";
      } else if (xValue > sep && xValue < sep * 2) {
        return "#00008b";
      } else if (xValue > 0 && xValue < sep) {
        return "#800080";
      }
      let color = {};
      color.r = Math.floor((255 + color.r) / 2);
      color.g = Math.floor((255 + color.g) / 2);
      color.b = Math.floor((255 + color.b) / 2);
      return "rgb(" + color.r + "," + color.g + "," + color.b + ")";
    },
    darkenColor(xValue, ctx) {
      let sep = ctx.canvas.width / 6;
      if (xValue > sep * 5) {
        return "#800000";
      } else if (xValue > sep * 4 && xValue < sep * 5) {
        return "#808000";
      } else if (xValue > sep * 3 && xValue < sep * 4) {
        return "#006600";
      } else if (xValue > sep * 2 && xValue < sep * 3) {
        return "#7c9ba6";
      } else if (xValue > sep && xValue < sep * 2) {
        return "#000066";
      } else if (xValue > 0 && xValue < sep) {
        return "#660066";
      }
      let color = {};
      color.r = Math.floor((255 + color.r) / 2);
      color.g = Math.floor((255 + color.g) / 2);
      color.b = Math.floor((255 + color.b) / 2);
      return "rgb(" + color.r + "," + color.g + "," + color.b + ")";
    },
    darkenColor2(xValue, ctx) {
      let sep = ctx.canvas.width / 6;
      if (xValue > sep * 5) {
        return "#400000";
      } else if (xValue > sep * 4 && xValue < sep * 5) {
        return "#404000";
      } else if (xValue > sep * 3 && xValue < sep * 4) {
        return "#004000";
      } else if (xValue > sep * 2 && xValue < sep * 3) {
        return "#4d6066";
      } else if (xValue > sep && xValue < sep * 2) {
        return "#000040";
      } else if (xValue > 0 && xValue < sep) {
        return "#400040";
      }
      let color = {};
      color.r = Math.floor((255 + color.r) / 2);
      color.g = Math.floor((255 + color.g) / 2);
      color.b = Math.floor((255 + color.b) / 2);
      return "rgb(" + color.r + "," + color.g + "," + color.b + ")";
    },

    plotter(e) {
      var ctx = e.drawingContext;
      var points = e.points;
      var y_bottom = e.dygraph.toDomYCoord(0);

      // Find the minimum separation between x-values.
      // This determines the bar width.
      var min_sep = Infinity;
      for (let i = 1; i < points.length; i++) {
        var sep = points[i].canvasx - points[i - 1].canvasx;

        if (sep < min_sep) min_sep = sep;
      }
      let bar_width = Math.floor((2.0 / 3) * min_sep);

      // Do the actual plotting.
      for (let i = 0; i < points.length; i++) {
        var p = points[i];
        let color = this.baseColor(p.canvasx, ctx);
        if (e.setName === "Y1") {
          ctx.fillStyle = this.darkenColor2(p.canvasx, ctx);
        } else if (e.setName === "Y2") {
          ctx.fillStyle = this.darkenColor(p.canvasx, ctx);
        } else {
          ctx.fillStyle = color;
        }
        var center_x = p.canvasx;

        let topLeft = 0;
        let height = y_bottom - p.canvasy;
        if (e.seriesIndex === 0) {
          topLeft = p.canvasy;
        } else if (e.seriesIndex === 1) {
          topLeft =
            y_bottom -
            (y_bottom - p.canvasy) -
            (y_bottom - e.allSeriesPoints[0][i].canvasy);
        } else if (e.seriesIndex === 2) {
          topLeft =
            y_bottom -
            (y_bottom - p.canvasy) -
            (y_bottom - e.allSeriesPoints[1][i].canvasy) -
            (y_bottom - e.allSeriesPoints[0][i].canvasy);
        }
        ctx.fillRect(center_x - bar_width / 2, topLeft, bar_width, height);
      }
    },

    /**
     * Format the legend.
     */
    legend(data) {
      if (data.x == null) {
        return "";
      }
      let date = new Date(data.x);
      this.strokeValues = {
        pEarthStrokes: data.series[0].y.toFixed(2),
        nEarthStrokes: data.series[1].y.toFixed(2),
        cloudStrokes: data.series[2].y.toFixed(2),
        sum: (data.series[0].y + data.series[1].y + data.series[2].y).toFixed(2)
      };
      return (
        date.getDate() + "." + (date.getMonth() + 1) + "." + date.getFullYear() + " | " + date.getHours() + ":" + String(date.getMinutes()).padStart(2, "0")
      );
    }
  }
};
</script>

<style></style>
