<template>
  <div class="timeslider">
    <v-range-slider
      ref="timeRangeSlider"
      v-model="timeRange"
      class="slider slider-hidden"
      color="rgba(0,0,0,0)"
      :max="tickMaximum"
      thumb-color="azure"
      thumb-label
      :min="tickMinimum">
      <template v-slot:thumb-label="props">
        {{ format(new Date(props.value * 60000)) }}
      </template>
      <template v-slot:prepend>
        <div
          style="margin-top: 3px;text-shadow: 0 0 2px black; color: white; width: max-content;visibility: hidden;">
          {{ format(startDate) }}
        </div>
      </template>
      <template v-slot:append>
        <div
          style="margin-right: 20px;margin-top: 3px; text-shadow: 0 0 2px black; color: white; width: max-content; visibility: hidden;">
          {{ format(endDate) }}
        </div>
        <v-icon
          style="color:white"
          @click="togglePlayAnimation()">
          {{
            playButtonIcon
          }}
        </v-icon>
      </template>
    </v-range-slider>
    <v-slider
      ref="timeSlider"
      v-model="currentTick"
      class="slider"
      track-color="rgba(0,0,0,0)"
      color="rgba(0,0,0,0)"
      :max="tickMaximum"
      thumb-color="azure"
      thumb-label="always"
      :min="tickMinimum">
      <template v-slot:thumb-label="props">
        {{ format(new Date(props.value * 60000)) }}
      </template>
      <template v-slot:prepend>
        <div
          style="margin-top: 3px;text-shadow: 0 0 2px black; color: white; width: max-content;">
          {{ format(startDate) }}
        </div>
      </template>
      <template v-slot:append>
        <div
          style="margin-right: 20px;margin-top: 3px; text-shadow: 0 0 2px black; color: white; width: max-content;">
          {{ format(endDate) }}
        </div>
        <v-icon
          style="color:white"
          @click="togglePlayAnimation()">
          {{
            playButtonIcon
          }}
        </v-icon>
      </template>
    </v-slider>
  </div>
</template>

<style>
.slider {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.slider .v-slider--horizontal .v-slider__track-container {
  height: 12px;
  background-image: linear-gradient(
    to right,
    #800080,
    #00008b,
    #add8e6,
    #008000,
    #ffff00,
    #ff0000
  );
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.slider-hidden .v-slider--horizontal .v-slider__track-container {
  visibility: hidden;
}
.slider .v-slider__thumb {
  z-index: 1000;
  background-color: azure !important;
}
.slider-hidden .v-slider__thumb {
  clip-path: polygon(50% 0, 100% 50%, 100% 100%, 0% 100%, 0% 50%);
  height: 20px !important;
  z-index: 1000;
  transform: translateY(40%) !important;
  background-color: azure !important;
  border-radius: 0% !important;
}
.slider-hidden .v-slider__thumb-label {
  width: 100px !important;
  transform: translateY(0%) translateX(-50%) rotate(45deg) !important;
}
.v-slider__thumb-label {
  width: 100px !important;
  transform: translateY(-20%) translateX(-50%) rotate(45deg) !important;
}
.timeslider {
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
</style>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      playing: false,
      animationDelay: 1000,
      pause: false
    };
  },
  computed: {
    ...mapState({
      startDate: state => state.map.archive.startDate,
      endDate: state => state.map.archive.endDate,
      leaflet: state => state.map.leaflet.LMap,
      timeLayers: state =>
        state.map.leaflet.availableLayers
          .filter(l => l.isTimeLayer)
          .map(l => l.layer)
    }),
    tickMinimum: {
      get() {
        this.resetRange();
        return this.$store.state.map.timeRange.start / 60000;
      }
    },
    tickMaximum: {
      get() {
        this.resetRange();
        return Math.floor(this.$store.state.map.timeRange.end / 60000);
      }
    },
    timeRange: {
      get() {
        return [
          Math.floor(this.$store.state.map.timeRange.start / 60000),
          Math.floor(this.$store.state.map.timeRange.end / 60000)
        ];
      },
      set(value) {
        if (!this.$refs.timeSlider) {
          return;
        }
        let trackWidth = this.$refs.timeSlider.$refs.track.clientWidth;
        let left = parseFloat(
          this.$refs.timeRangeSlider.$refs.thumb_0.style.left
        );
        let right = parseFloat(
          this.$refs.timeRangeSlider.$refs.thumb_1.style.left
        );
        let leftPixel = (trackWidth / 100) * left;
        let rightPixel = (trackWidth / 100) * right;
        let width = rightPixel - leftPixel;
        this.$refs.timeSlider.$refs.track.style.backgroundSize = width + "px";
        this.$refs.timeSlider.$refs.track.style.backgroundPositionX =
          leftPixel + "px";
        if (value[0] > this.currentTick) {
          this.currentTick = value[0];
        }
        if (value[1] < this.currentTick) {
          this.currentTick = value[1];
        }
        this.$store.commit("map/selectedRange", [
          value[0] * 60000,
          value[1] * 60000
        ]);
      }
    },
    playButtonIcon: {
      get() {
        if (!this.playing && !this.pause) {
          return "fa-play";
        } else if (this.playing && this.pause) {
          return "fa-spinner fa-pulse";
        }
        return "fa-pause";
      }
    },
    currentTick: {
      get() {
        return this.$store.state.map.timeRange.currentTimeTick / 60000;
      },
      set(value) {
        this.$store.commit("map/currentTimeTick", value * 60000);
      }
    },
    locale: {
      get() { return this.$i18n.locale; }
    },
  },
  mounted() {
    for (const layer of this.timeLayers) {
      const me = this;
      layer.on("cacheload", function(count) {
        if (me.pause && count.cacheCount > 3) {
          me.resumeAnimation();
        }
      });
    }
  },
  beforeDestroy() {
    this.stopAnimation();
  },
  methods: {
    resetRange() {
      if (this.$refs.timeSlider) {
        let trackWidth = this.$refs.timeSlider.$refs.track.clientWidth;
        this.$refs.timeSlider.$refs.track.style.backgroundSize =
          trackWidth + "px";
        this.$refs.timeSlider.$refs.track.style.backgroundPositionX = "0px";
      }
    },
    /**
     * get a nice label for Date strings.
     */
    format(date) {
      if (!date) {
        return "-";
      }
      return date.toLocaleTimeString("de", {
        month: "short",
        day: "2-digit",
        hour: "2-digit",
        minute: "2-digit"
      });
    },

    /**
     * Plays/pauses animation of the time layer(s)
     */
    togglePlayAnimation() {
      if (this.playing) {
        this.stopAnimation();
        return;
      }
      this.startAnimation();
    },

    startAnimation() {
      this.playing = true;
      this.animate();
    },

    stopAnimation() {
      this.playing = false;
    },

    pauseAnimation() {
      this.pause = true;
    },

    resumeAnimation() {
      this.pause = false;
      this.animate();
    },

    animate() {
      if (this.playing && !this.pause) {
        if (
          this.currentTick <
          Math.floor(this.$store.state.map.timeRange.selectedRange[1] / 60000)
        ) {
          this.currentTick++;
        } else {
          this.currentTick = Math.floor(
            this.$store.state.map.timeRange.selectedRange[0] / 60000
          );
        }
        for (const layer of this.timeLayers) {
          if (this.leaflet.hasLayer(layer)) {
            if (
              layer.options.snapTo &&
              Number.isInteger(
                new Date(this.currentTick * 60000).getMinutes() /
                  layer.options.snapTo
              )
            ) {
              // TODO: get the next best "older" snapTo for the other layer(s)
              let time = this.currentTick * 60000;
              layer.activateTime(time).then(value => {
                // Cache has to be 20% of max cache but a minimum of one item.
                let min = Math.floor((layer.options.preCache * 20) / 100);
                min = min < 1 ? 0 : 1;
                if (value.cacheCount <= min) {
                  me.pauseAnimation();
                }
              });
            }
          }
        }
        let me = this;
        setTimeout(function() {
          me.animate();
        }, me.animationDelay);
      }
    }
  }
};
</script>
