<template>
  <div :class="toolbarCss">
    <resize-observer @notify="resizeTools" />
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn
          small
          icon
          :class="toolbuttonCss"
          @click.stop="toggleLayerSwitcher"
          v-on="on">
          <v-icon>fa-layer-group</v-icon>
        </v-btn>
      </template>
      <span>{{ $t("tooltipLayer") }}</span>
    </v-tooltip>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn
          small
          icon
          :class="toolbuttonCss"
          @click.stop="toggleTimeSlider"
          v-on="on">
          <v-icon>fa-clock</v-icon>
        </v-btn>
      </template>
      <span>{{ $t("tooltipArchive") }}</span>
    </v-tooltip>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn
          small
          icon
          :class="toolbuttonCss"
          @click.stop="toggleMapRuler"
          v-on="on">
          <v-icon>fa-ruler</v-icon>
        </v-btn>
      </template>
      <span>{{ $t("tooltipMeasure") }}</span>
    </v-tooltip>
    <v-tooltip bottom>
      <template v-slot:activator="{ on }">
        <v-btn
          small
          icon
          :class="toolbuttonCss"
          @click.stop="toggleStatistics"
          v-on="on">
          <v-icon>fa-chart-area</v-icon>
        </v-btn>
      </template>
      <span>{{ $t("tooltipStatistic") }}</span>
    </v-tooltip>
    <v-icon
      :class="flipIconCss"
      @click.stop="direction = !direction">
      {{ flipIcon }}
    </v-icon>
  </div>
</template>

<script>
export default {
  data: () => ({
    toolbarCss: "horizontal-bar",
    flipIcon: "fa-arrows-alt-v",
    spacerCss: "horizontal-spacer",
    toolbuttonCss: "horizontal-tool-buttons",
    flipIconCss: "horizontal-flip-icon",
    items: 0
  }),
  computed: {
    direction: {
      get() {
        if (this.$store.state.application.toolbar === "vertical") {
          return true;
        } else {
          return false;
        }
      },
      set(value) {
        if (!value) {
          this.$store.commit("application/toolbar", "horizontal");
          this.horizontal();
        } else {
          this.$store.commit("application/toolbar", "vertical");
          this.vertical();
        }
        this.updateLayout();
      }
    }
  },
  mounted() {
    this.items = this.$children.length - 1;
    if (this.direction) {
      this.vertical(true);
    } else {
      this.horizontal(true);
    }
    this.updateLayout();
  },
  methods: {
    toggleLayerSwitcher() {
      this.$store.commit("map/toggleLayerSwitcher");
    },
    toggleDiagram() {
      this.$store.commit("map/toggleDiagram");
    },
    toggleTimeSlider() {
      this.$store.commit("map/toggleArchive");
    },
    toggleStatistics() {
      this.$store.commit("map/toggleStatistics");
    },
    toggleMapRuler() {
      this.$store.commit("map/toggleMapRuler");
    },
    resizeTools() {},
    vertical(next) {
      if (next) {
        this.$nextTick(() => {
          this.v();
        });
      } else {
        this.v();
      }
    },
    v() {
      let element = this.$parent.$parent;
      element.item.x = element.$parent.cols - 2;
      element.item.h = this.items + 6;
      element.item.w = 2;
      this.toolbarCss = "vertical-bar";
      this.spacerCss = "vertical-spacer";
      this.toolbuttonCss = "vertical-tool-buttons";
      this.flipIcon = "fa-arrows-alt-h";
      this.flipIconCss = "vertical-flip-icon";
    },
    horizontal(next) {
      if (next) {
        this.$nextTick(() => {
          this.h();
        });
      } else {
        this.h();
      }
    },
    h() {
      let element = this.$parent.$parent;
      element.item.x = 0;
      element.item.w = this.items + 4 + (this.items % 2);
      element.item.h = 2;
      this.toolbarCss = "horizontal-bar";
      this.spacerCss = "horizontal-spacer";
      this.toolbuttonCss = "horizontal-tool-buttons";
      this.flipIcon = "fa-arrows-alt-v";
      this.flipIconCss = "horizontal-flip-icon";
    },
    updateLayout() {
      let element = this.$parent.$parent;
      let layout = this.$store.state.application.layout;
      layout = layout.map(item => {
        if (item.i === element.item.i) {
          return {
            ...item,
            h: element.item.h,
            w: element.item.w,
            x: element.item.x,
            y: element.item.y
          };
        }
        return item;
      });
      this.$store.commit("application/layout", layout);
    }
  }
};
</script>

<style>
.horizontal-bar {
  display: flex;
  margin: -2px 0px 0px 7px;
}
.vertical-bar {
  display: grid;
  margin-left: -9px;
}
.horizontal-spacer {
  margin-left: auto;
  margin-top: 5px;
}
.vertical-spacer {
  width: 36px;
  display: flex;
  flex-flow: column;
  height: 100%;
  margin-left: -2px;
}
.horizontal-tool-buttons {
  margin: 3px 3px 0px 3px;
}
.vertical-tool-buttons {
  margin: 3px 0px 3px 2px;
}
.horizontal-flip-icon {
  position: absolute;
  top: 2px;
  left: 7px;
  right: 0px;
}
.vertical-flip-icon {
  position: absolute;
  top: 5px;
  bottom: 0px;
  left: 2px;
}
</style>
