<template>
  <v-container
    fluid
    class="base-container">
    <v-layout
      column
      align-end>
      <v-card
        :width="sidebar"
        class="elevation-5">
        <v-card-title>
          <h1>{{ $t("about") }}</h1>
        </v-card-title>
        <v-card-text
          style="margin-top:25px">
          <span v-html="aboutText" />
          <div>
            <br>
            <h3>{{ $t("appVersion") }}</h3>{{ version }}
            <br>
            <br>
            <h3>
              <a 
                v-for="(item, i) in hostTheme.links" 
                :key="i"
                class="about-links"
                :href="item.url">
                {{ $t(item.name) }}
              </a>
            </h3>
          </div>
        </v-card-text>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      sidebar: state => {
        if (state.application.sidebar) return window.innerWidth - 345;
        return "100%";
      },
      version: state => {
        return state.application.version
      },
      hostTheme: state => {
        return state.application.hostTheme
      }
    }),
    aboutText: {
      get() {
        return this.$t("aboutText");
      }
    }
  },

  mounted() {
  },
  methods: {
  }
};
</script>

<style scoped>
.base-container {
  height: 100%;
  padding: 17px;
}
.about-links {
  margin-right: 10px;
}
</style>
