<template>
  <v-container
    fluid
    fill-height>
    <v-layout
      column
      align-end>
      <v-card
        :width="sidebar"
        class="elevation-5">
        <v-card-title>
          <h1>{{ $t("alarmLog") }}</h1>
        </v-card-title>
        <v-row>
          <v-col>
            <v-combobox
              v-if="availableIds.length >1"
              v-model="currentIds"
              :items="availableIds"
              :label="$t('filterAlarmId')"
              :multiple="true" />
          </v-col><v-col>
            <v-combobox
              v-if="availableAreas.length > 1"
              v-model="currentAreas"
              :items="availableAreas"
              :label="$t('filterArea')"
              :multiple="true" />
          </v-col><v-col>
            <v-combobox
              v-if="availableAreas.length > 1"
              v-model="currentTypes"
              :items="availableTypes"
              :label="$t('filterAlarmType')"
              :multiple="true" />
          </v-col>
        </v-row>
        <v-data-table
          :headers="tableHeaders"
          :items="displayedData"
          show-expand>
          <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="tableHeaders.length">
              {{ item }}
            </td>
          </template>
          <template v-slot:item.date="{ item }">
            <td>{{ getDateFormat(item.date) }}</td>
          </template>
          <template v-slot:item.type="{ item }">
            <td>{{ $t(item.type) }}</td>
          </template>
        </v-data-table>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  data: () => ({
    currentIds: [],
    currentAreas: [],
    currentTypes: [],
    alarmData: []
  }),
  computed: {
    ...mapState({
      sidebar: state => {
        if (state.application.sidebar) return window.innerWidth - 345;
        return "100%";
      }
    }),
    availableIds: {
      get() {
        return this.alarmData ? Array.from(new Set(this.alarmData.map(d => d.alarmId))).sort() : [];
      }
    },
    availableTypes: {
      get() {
        return this.alarmData ? Array.from(new Set(this.alarmData.map(d => d.type))).sort() : [];
      }
    },
    availableAreas: {
      get() {
        return this.alarmData ? Array.from(new Set(this.alarmData.map(d => d.area))).sort() : [];
      },
    },
    displayedData: {
      get() {
        return this.alarmData ?
        this.alarmData
          .filter(d => this.currentIds.includes(d.alarmId))
          .filter(d => this.currentTypes.includes(d.type))
          .filter(d => this.currentAreas.includes(d.area)) : [];
      }
    },
    tableHeaders: {
      get () {
        return [{
          text: this.$t("alarmId"),
          value: "alarmId"
        }, {
          text: this.$t("alarmArea"),
          value: "area"
        }, {
          text: this.$t("date"),
          value: "date"
        }, {
          text: this.$t("notificationType"),
          value: "type"
        }];
        //threshold; alarm_duration; x, y, group, density, stroke_count
      }
    }
  },

  mounted() {
    fetch("alarmLogData.json") //TODO hard coded dummy data!
      .then(response => {
        response.json()
        .then(data => {
          if (response.status !== 200) {
            this.alarmData = [];
            this.currentIds = [];
            this.currentTypest = [];
            this.currentAreas = [];
            if (response.status !== 401) {
              throw new Error(data.message || response.statusText);
            }
          } else {
            if (Array.isArray(data)) {
              this.alarmData = data;
              this.currentIds = Array.from(new Set(data.map(d => d.alarmId))).sort();
              this.currentTypes = Array.from(new Set(data.map(d => d.type))).sort();
              this.currentAreas = Array.from(new Set(data.map(d => d.area))).sort();
            } else {
              this.alarmData = [];
              this.currentIds = [];
              this.currentTypest = [];
              this.currentAreas = [];
            }
          }
        });
      });
  },
  methods: {
    getDateFormat: dateString => {
      return new Date(dateString).toLocaleTimeString("de-DE", {
        timeZoneName: "short",
        weekday: "short",
        year: "numeric",
        month: "short",
        day: "2-digit",
        hour: "2-digit",
        minute: "2-digit",
        second: "2-digit"
      });
    }
  }
};
</script>
