<template>
  <v-container
    fluid
    fill-height
    class="base-container">
    <v-layout
      column
      align-end>
      <v-card
        :width="sidebar"
        class="elevation-5 p2">
        <AlarmManagementForm
          :user="user"
          :readonly="!canEditAlarm" />
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import AlarmManagementForm from "../components/AlarmManagementForm";

export default {
  components: {
    AlarmManagementForm: AlarmManagementForm
  },
  computed: {
    ...mapState({
      user: state => state.application.user.userInfo,
      sidebar: state => {
        if (state.application.sidebar) return window.innerWidth - 345;
        return "100%";
      },
      theme: state => state.application.theme
    }),
    canEditAlarm: {
      get() {
        return this.$store.getters["application/activityCheck"](["update alarmsetting"]);
      }
    }
  },
  mounted() {
    if (this.$store.getters["application/activityCheck"]([
        'get alarmtemplates mail',
        'get alarmtemplates sms',
        'get alarmtemplates fax',
        'get alarmtemplates mqtt'
      ])
    ) {
      this.$store.commit("alarmmanagement/fetchTemplates");
    }
  }
};
</script>
<style scoped>
.base-container {
  height: 100%;
  width: 100%;
  padding: 0px;
}
</style>
