<template>
  <v-container
    fluid
    fill-height
    class="no-padding">
    <v-toolbar
      dense
      width="100%">
      <v-img
        max-height="35px"
        max-width="200px"
        contain
        :src="hostTheme.logo" />
      <v-toolbar-title class="headline text-uppercase">
        <span>{{ hostTheme.title }}</span>
        <span class="font-weight-light" />
      </v-toolbar-title>
      <v-spacer />
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            v-on="on">
            <v-icon>fa-flag</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            class="menu-item"
            @click="langEn">
            <v-list-item-title>{{ $t("langEn") }}</v-list-item-title>
          </v-list-item>
          <v-list-item
            class="menu-item"
            @click="langDe">
            <v-list-item-title>{{ $t("langDe") }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-menu offset-y>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            v-on="on">
            <v-icon>fa-ellipsis-v</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item
            v-for="(item, i) in hostTheme.links"
            :key="i"
            :href="item.url"
            target="_blank">
            <v-list-item-title>{{ $t(item.name) }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-container
      class="fill-height"
      fluid>
      <v-row
        align="center"
        justify="center">
        <v-col
          cols="12"
          sm="8"
          md="4">
          <v-card class="elevation-12">
            <v-toolbar flat>
              <v-toolbar-title v-if="passwordReset === false">
                {{
                  $t("login")
                }}
              </v-toolbar-title>
              <v-toolbar-title v-else>
                {{
                  $t("passwordReset")
                }}
              </v-toolbar-title>
            </v-toolbar>
            <v-card-text>
              <v-form>
                <v-text-field
                  v-model="name"
                  :label="$t('name')"
                  name="login"
                  prepend-icon="fa-user"
                  type="text" />
                <v-text-field
                  v-if="passwordReset === false"
                  id="password"
                  v-model="password"
                  :label="$t('password')"
                  name="password"
                  prepend-icon="fa-lock"
                  type="password" />
                <div
                  v-if="status.msg"
                  :class="status.success ? 'status-success-msg' : 'status-msg'">
                  {{ status.msg }}
                </div>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                v-if="passwordReset === false"
                @click="resetPassword">
                {{ $t("resetPassword") }}
              </v-btn>
              <v-btn
                v-else
                @click="back">
                {{ $t("back") }}
              </v-btn>
              <v-btn
                v-if="passwordReset === false"
                @click="login">
                {{ $t("login") }}
              </v-btn>
              <v-btn
                v-else
                @click="sendPasswordReset">
                {{ $t("send") }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  data: () => ({
    name: "",
    password: "",
    status: {
      msg: "",
      success: true
    },
    passwordReset: false
  }),
  computed: {
    ...mapState({
      hostTheme: state => state.application.hostTheme,
      loggedIn: state => state.application.loggedIn
    })
  },
  methods: {
    login() {
      fetch(window.apiprefix + "auth/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          name: this.name,
          password: this.password
        })
      })
      .then(response => {
        response.json()
        .then(data => {
          if (response.status !== 200 && response.status !== 401) {
            throw new Error(data.message || response.statusText);
          }
          if (data.status === "failure") {
            throw new Error (data.message);
          }
          this.$store.commit("application/logIn", data);
          this.$store.commit("application/theme", data.theme.theme)
          if (this.loggedIn) {
            this.$router.push("/");
          } else {
            throw new Error ( "Login failed: Malformed server answer" );
          }
        })
      })
      .catch(error => {
        this.$store.dispatch("application/logOut");
        this.status = { success: false, msg: error.message };
      });
    },
    back() {
      this.passwordReset = false;
      this.status = { success: true, msg: "" };
    },
    resetPassword() {
      this.passwordReset = true;
      this.status = { success: true, msg: "" };
    },

    sendPasswordReset() {
      fetch(window.apiprefix + "passwordreset", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          name: this.name
        })
      })
      .then(response => {
        response.json()
        .then(data => {
          if (response.status !== 200) {
            this.status = {
              success: false,
              msg: data.message || response.statusText
            };
            if (response.status !== 401) {
              throw new Error(data.message || response.statusText);
            }
          } else {
            this.status = {
              success: true,
              msg: data.message
            };
          }
        });
      })
      .catch( () => {
        this.status = {
          success: false,
          msg: "error resetting password"
          };
      });
    },
    langEn() {
      this.$i18n.locale = "en";
    },
    langDe() {
      this.$i18n.locale = "de";
    }
  }
};
</script>

<style>
.status-msg {
  color: crimson;
}
.status-success-msg {
  color: green;
}
.no-padding {
  padding: 0px;
}
.column {
  flex-direction: column;
}
</style>
