<template>
  <v-container
    fluid
    class="base-container">
    <v-layout
      column
      align-end
      fill-height>
      <v-container
        fluid
        fill-height
        class="usermanagement-container">
        <v-layout
          column
          align-end>
          <v-card
            :width="sidebar"
            class="usermanagement-card elevation-5">
            <Groups />
          </v-card>
        </v-layout>
      </v-container>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import Groups from "../components/Groups";
export default {
  components: {
    Groups: Groups
  },
  computed: {
    ...mapState({
      sidebar: state => {
        if (state.application.sidebar) return window.innerWidth - 345;
        return "100%";
      }
    })
  }
};
</script>

<style scoped>
.usermanagement-container {
  width: 100% !important;
  padding: 17px;
}
.usermanagement-card {
  height: 100%;
  padding: 10px;
}
.base-container {
  height: 100%;
  padding: 0px;
}
</style>
