<template>
  <v-container
    fluid
    fill-height
    class="base-container">
    <Map />
    <Grid class="grid-container" />
  </v-container>
</template>

<script>
import Map from "../components/Map";
import Grid from "../components/Grid";

export default {
  components: {
    Map,
    Grid
  }
};
</script>

<style scoped>
.base-container {
  padding: 0px;
}
.grid-container {
  pointer-events: none !important;
  position: absolute !important;
  top: 5px;
  right: 0px;
  width: 50%;
  height: 80% !important;
}
</style>
