<template>
  <v-container
    fluid
    class="base-container">
    <v-layout
      column
      align-end>
      <v-card
        :width="sidebar"
        class="elevation-5">
        <v-card-title>
          <h1>{{ $t("userLog") }}</h1>
        </v-card-title>
        <v-data-table
          :headers="headers"
          :items="displayedData">
          <template v-slot:item.date="{ item }">
            <td>{{ getDateFormat(item.date) }}</td>
          </template>
          <template v-slot:item.type="{ item }">
            <td>{{ $t(item.type) }}</td>
          </template>
        </v-data-table>
      </v-card>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";

export default {
  data: () => ({
    userLog: []
  }),
  computed: {
    ...mapState({
      sidebar: state => {
        if (state.application.sidebar) return window.innerWidth - 345;
        return "100%";
      }
    }),
    displayedData: {
      get() {
        return this.userLog;
      }
    },
    headers: {
      get() {
        return [{
          text: this.$t("userName"),
          value: "user"
        }, {
          text: this.$t("text"),
          value: "text"
        }, {
          text: this.$t("date"),
          value: "timestamp.Time"
        }, {
          text: this.$t("ip"),
          value: "ip"
        }]
      }
    }
  },

  mounted() {
    fetch(window.apiprefix + "userlog")
    .then(response => {
      response.json()
      .then(data => {
        if (response.status !== 200 ) {
          this.userLog = [];
          if (response.status !== 401) {
            throw new Error(data.message || response.statusText);
          }
        } else {
          this.userLog = Array.isArray(data) ? data : [];
        }
      });
    });
  },
  methods: {
    getDateFormat: dateString => {
      return new Date(dateString).toLocaleTimeString("de-DE", {
        timeZoneName: "short",
        weekday: "short",
        year: "numeric",
        month: "short",
        day: "2-digit",
        hour: "2-digit",
        minute: "2-digit",
        second: "2-digit"
      });
    }
  }
};
</script>

<style scoped>
.base-container {
  height: 100%;
  padding: 17px;
}

</style>
