<template>
  <v-layout>
    <v-card class="base-container">
      <v-card-text>
        <v-container grid-list-md>
          <v-layout wrap>
            <v-checkbox
              v-model="alarmSettings.onlyLog"
              class="mr-5"
              :label="$t('onlyLog')"
              :readonly="readonly" />
            <v-checkbox
              v-model="alarmSettings.strokeProtocol"
              class="mr-5"
              :label="$t('strokeProtocol')"
              :readonly="readonly" />
            <v-checkbox
              v-model="alarmSettings.strokeAsCSV"
              :label="$t('strokeAsCSV')"
              :readonly="readonly" />
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header>
                  {{ $t('templateSettings') }}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-expansion-panels>
                    <!--
                    Expansion panels for each template/setting combinaion
                    Notifications will only be created if both are set
                    -->
                    <v-expansion-panel>
                      <v-expansion-panel-header>
                        <v-checkbox
                          v-model="mailConfigured"
                          disabled
                          :label="$t('mail')" />
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <v-flex>
                          <v-select
                            v-model="alarmSettings.alarmTemplateMailId"
                            :items="alarmTemplatesMail"
                            item-text="alarmText"
                            item-value="id"
                            :label="$t('template')"
                            :readonly="readonly" />
                          <v-text-field
                            v-model="alarmSettings.email"
                            :label="$t('mail')"
                            clearable
                            :readonly="readonly" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel>
                      <v-expansion-panel-header>
                        <v-checkbox
                          v-model="smsConfigured"
                          disabled
                          :label="$t('sms')" />
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <v-flex>
                          <v-select
                            v-model="alarmSettings.alarmTemplateSmsId"
                            :items="alarmTemplatesSms"
                            item-text="alarmText"
                            item-value="id"
                            :label="$t('template')"
                            :readonly="readonly" />
                          <v-text-field
                            v-model="alarmSettings.sms"
                            :label="$t('smsNumber')"
                            clearable
                            :readonly="readonly" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel>
                      <v-expansion-panel-header>
                        <v-checkbox
                          v-model="faxConfigured"
                          disabled
                          :label="$t('fax')" />
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <v-flex>
                          <v-select
                            v-model="alarmSettings.alarmTemplateFaxId"
                            :items="alarmTemplatesFax"
                            item-text="alarmText"
                            item-value="id"
                            :label="$t('template')"
                            :readonly="readonly" />
                          <v-text-field
                            v-model="alarmSettings.fax"
                            :label="$t('faxNumber')"
                            clearable
                            :readonly="readonly" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel>
                      <v-expansion-panel-header>
                        <v-checkbox
                          v-model="mqttConfigured"
                          disabled
                          :label="$t('mqtt')" />
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <v-flex>
                          <v-select
                            v-model="alarmSettings.alarmTemplateMqttId"
                            :items="alarmTemplatesMqtt"
                            item-text="alarmText"
                            item-value="id"
                            :label="$t('template')"
                            :readonly="readonly" />
                          <v-text-field
                            v-model="alarmSettings.mqtt"
                            :label="$t('mqtt')"
                            clearable
                            :readonly="readonly" />
                        </v-flex>
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                    <v-expansion-panel>
                      <v-expansion-panel-header>
                        <v-checkbox
                          v-model="alarmSettings.phone"
                          disabled
                          :label="$t('phone')" />
                      </v-expansion-panel-header>
                      <v-expansion-panel-content>
                        <v-text-field
                          v-model="alarmSettings.phone"
                          :label="$t('phoneNumber')"
                          clearable
                          :readonly="readonly" />
                      </v-expansion-panel-content>
                    </v-expansion-panel>
                  </v-expansion-panels>
                </v-expansion-panel-content>
              </v-expansion-panel>
              <v-expansion-panel>
                <!-- Settings for time-based filters-->
                <v-expansion-panel-header>
                  {{ $t('timeSettings') }}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-layout>
                    <!-- Deactivation/activation per weekday -->
                    <v-flex>
                      <v-checkbox
                        v-model="alarmSettings.mon"
                        :label="$t('monday')"
                        :readonly="readonly" />
                      <v-checkbox
                        v-model="alarmSettings.tue"
                        :label="$t('tuesday')"
                        :readonly="readonly" />
                      <v-checkbox
                        v-model="alarmSettings.wed"
                        :label="$t('wednesday')"
                        :readonly="readonly" />
                      <v-checkbox
                        v-model="alarmSettings.thu"
                        :label="$t('thursday')"
                        :readonly="readonly" />
                      <v-checkbox
                        v-model="alarmSettings.fri"
                        :label="$t('friday')"
                        :readonly="readonly" />
                      <v-checkbox
                        v-model="alarmSettings.sat"
                        :label="$t('saturday')"
                        :readonly="readonly" />
                      <v-checkbox
                        v-model="alarmSettings.sun"
                        :label="$t('sunday')"
                        :readonly="readonly" />
                    </v-flex>
                  </v-layout>
                  <v-layout>
                    <!-- Date picker for start/stop date -->
                    <v-menu
                      ref="menu0"
                      v-model="tmenu0"
                      :close-on-content-click="false"
                      :return-value.sync="startDate"
                      transition="scale-transition"
                      offset-y
                      min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="startDateFormatted"
                          :label="$t('startDate')"
                          prepend-icon="fa-calendar"
                          readonly
                          v-on="on" />
                      </template>
                      <v-date-picker
                        v-model="startDate"
                        no-title
                        scrollable>
                        <v-spacer />
                        <v-btn
                          text
                          color="primary"
                          @click="tmenu0 = false">
                          {{ $t("cancel") }}
                        </v-btn>
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.menu0.save(startDate)">
                          {{ $t("ok") }}
                        </v-btn>
                      </v-date-picker>
                    </v-menu>
                    <v-menu
                      ref="menu1"
                      v-model="tmenu1"
                      :close-on-content-click="false"
                      :return-value.sync="stopDate"
                      transition="scale-transition"
                      offset-y
                      min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="stopDateFormatted"
                          :label="$t('stopDate')"
                          prepend-icon="fa-calendar"
                          readonly
                          v-on="on" />
                      </template>
                      <v-date-picker
                        v-model="stopDate"
                        no-title
                        scrollable>
                        <v-spacer />
                        <v-btn
                          text
                          color="primary"
                          @click="tmenu1 = false">
                          {{ $t("cancel") }}
                        </v-btn>
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.menu1.save(stopDate)">
                          {{ $t("ok") }}
                        </v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-layout>
                  <!-- start/stop time (hours) -->
                  <v-layout>
                    <v-menu
                      ref="menu2"
                      v-model="tmenu2"
                      :close-on-content-click="false"
                      :return-value.sync="startTime"
                      transition="scale-transition"
                      offset-y
                      min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="startTime"
                          :label="$t('startTime')"
                          prepend-icon="fa-clock"
                          readonly
                          v-on="on" />
                      </template>
                      <v-time-picker
                        v-if="tmenu2"
                        v-model="startTime"
                        format="24hr"
                        no-title
                        scrollable
                        @click:minute="$refs.menu2.save(startTime)">
                        <v-spacer />
                        <v-btn
                          text
                          color="primary"
                          @click="tmenu2 = false">
                          {{ $t("cancel") }}
                        </v-btn>
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.menu2.save(startTime)">
                          {{ $t("ok") }}
                        </v-btn>
                      </v-time-picker>
                    </v-menu>
                    <v-menu
                      ref="menu3"
                      v-model="tmenu3"
                      :close-on-content-click="false"
                      :return-value.sync="stopTime"
                      transition="scale-transition"
                      offset-y
                      min-width="290px">
                      <template v-slot:activator="{ on }">
                        <v-text-field
                          v-model="stopTime"
                          :label="$t('stopTime')"
                          prepend-icon="fa-clock"
                          readonly
                          v-on="on" />
                      </template>
                      <v-time-picker
                        v-if="tmenu3"
                        v-model="stopTime"
                        format="24hr"
                        no-title
                        scrollable
                        @click:minute="$refs.menu3.save(stopTime)">
                        <v-spacer />
                        <v-btn
                          text
                          color="primary"
                          @click="tmenu3 = false">
                          {{ $t("cancel") }}
                        </v-btn>
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.menu3.save(stopTime)">
                          {{ $t("ok") }}
                        </v-btn>
                      </v-time-picker>
                    </v-menu>
                  </v-layout>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-toolbar
        dense>
        <v-btn
          class="mr-2"
          color="success"
          :disabled="saveDisabled"
          @click="save()">
          <v-icon left>
            fa-save
          </v-icon>
          {{ $t("save") }}
        </v-btn>
        <v-btn
          color=""
          :disabled="saveDisabled"
          @click="reset()">
          <v-icon left>
            fa-times
          </v-icon>
          {{ $t("cancel") }}
        </v-btn>
      </v-toolbar>
    </v-card>
  </v-layout>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    user: {
      type: Object,
      default: () => {},
    },
    readonly: {
      type: Boolean,
        default: false
    }
  },
  data: () => ({
    tmenu0: false,
    tmenu1: false,
    tmenu2: false,
    tmenu3: false,
    dateDisplayFormat: {
      day: "2-digit",
      month: "2-digit",
      year: "numeric"
    },
    isLoading: true,
    alarmSettings: {},
    originalSettings: {}
  }),
  computed: {
    ...mapState({
      alarmTemplatesFax: state => state.alarmmanagement.alarmTemplatesFax,
      alarmTemplatesSms: state => state.alarmmanagement.alarmTemplatesSms,
      alarmTemplatesMail: state => state.alarmmanagement.alarmTemplatesMail,
      alarmTemplatesMqtt: state => state.alarmmanagement.alarmTemplatesMqtt
    }),
    faxConfigured: {
      get() {
        return this.alarmSettings.alarmTemplateFaxId && this.alarmSettings.fax;
      }
    },
    smsConfigured: {
      get() {
        return this.alarmSettings.alarmTemplateSmsId && this.alarmSettings.sms;
      }
    },
    mailConfigured: {
      get() {
        return this.alarmSettings.alarmTemplateMailId && this.alarmSettings.email;
      }
    },
    mqttConfigured: {
      get() {
          return this.alarmSettings.alarmTemplateMqttId && this.alarmSettings.mqtt;
        }
    },
    saveDisabled: {
      get() {
        if (!this.originalSettings.id) {
          return true;
        }
        return JSON.stringify(this.originalSettings) ===
          JSON.stringify(this.alarmSettings);
      }
    },
    startDateFormatted() {
      return new Date(this.startDate).toLocaleDateString(
        "de", this.dateDisplayFormat);
      },
    stopDateFormatted() {
      return new Date(this.stopDate).toLocaleDateString(
        "de", this.dateDisplayFormat);
    },
    startDate: {
      get() {
        if (!this.alarmSettings.startDate) {
          return '1970-01-01';
        }
        return new Date(this.alarmSettings.startDate.Time).toISOString().substr(0,10);
      },
      set(value) {
        this.alarmSettings.startDate.Time = new Date(value).toISOString();
      }
    },
    stopDate: {
      get() {
        if (!this.alarmSettings.stopDate) {
          return '1970-01-01';
        }
        return new Date(this.alarmSettings.stopDate.Time).toISOString().substr(0,10);
      },
      set(value) {
        this.alarmSettings.stopDate.Time = new Date(value).toISOString();
      }
    },
    startTime: {
      get() {
        if (!this.alarmSettings.startTime) {
          return '00:00';
        }
        const startTime = "1970" + this.alarmSettings.startTime.substr(4);
        return new Date(startTime).toLocaleTimeString(
          this.locale, { hour12: false }).substr(0,5);
      },
      set(value) {
        if (value) {
          const d = new Date(0);
          d.setHours(value.substr(0,2));
          d.setMinutes(value.substr(3,5));
          this.alarmSettings.startTime =
            '0000-01-01T' + d.toISOString().substr(11);
        }
      }
    },
    stopTime: {
      get() {
        if (!this.alarmSettings.stopTime) {
          return '00:00';
        }
        const stopTime = "1970" + this.alarmSettings.stopTime.substr(4);
        return new Date(stopTime).toLocaleTimeString(
          this.locale, { hour12: false }).substr(0,5);
      },
      set(value) {
        if (value) {
          const d = new Date(0);
          d.setHours(parseInt(value.substr(0,2), 10));
          d.setMinutes(parseInt(value.substr(3,5), 10));
          this.alarmSettings.stopTime =
            '0000-01-01T' + d.toISOString().substr(11);
        }
      }
    },
    locale: {
      get() { return this.$i18n.locale; }
    },

  },
  watch: {
    user() {
      this.loadSettings(this.user);
    }
  },
  mounted() {
    this.loadSettings(this.user);
  },
  methods: {
    displayName (user) {
      if (!user) {
        return '';
      }
      let name = user.name;
      if (user.firstName) {
        name = user.firstName;
        if (user.lastName) {
          name += " " + user.lastName;
        }
      }
      if (user.email) {
        name += " (" + user.email + ")";
      }
      return name;
    },
    save() {
      this.$store.dispatch("alarmmanagement/saveAlarmSettings",
        this.alarmSettings)
      .then(
        () => this.loadSettings(this.user),
        () => this.loadSettings(this.user)
      );
    },

    reset() {
      this.copySettings(this.originalSettings);
    },
    loadSettings(user) {
      this.isLoading = true;
      fetch(window.apiprefix + "user/" + user.id + "/alarmsettings", { method: "GET" })
      .then(response => {
        response.json()
        .then(json => {
          if (response.status !== 200) {
            this.isLoading = false;
            if (response.status !== 401) {
              throw new Error (json.message || response.statusText);
            }
          } else {
            this.copySettings(json);
            this.originalSettings = json;
            this.isLoading = false;
          }
        });
      });
    },

    copySettings(data) {
      this.alarmSettings = {
        ...data,
        ...{
          startDate: {...data.startDate},
          stopDate: {...data.stopDate}
        }
      };
    }
  }
};

</script>

<style scoped>
.base-container {
  height: 100%;
  width: 100%;
  padding: 0px;
}
</style>
