<template>
  <v-container fluid>
    <v-row>
      <v-col>
        <v-dialog
          v-model="editDialog"
          hide-overlay
          max-width="500px">
          <v-card>
            <v-card-text>
              <v-text-field
                v-model="editItem.name"
                :label="$t('edit')"
                single-line
                autofocus />
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn
                text
                @click="saveAlarm">
                {{ $t("save") }}
              </v-btn>
              <v-btn
                text
                @click="editDialog = false">
                {{ $t("cancel") }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-data-table
          :headers="alarmHeader"
          :items="alarms"
          class="elevation-1"
          :single-expand="true"
          :expanded.sync="expanded"
          :hide-default-header="true"
          show-expand
          @click:row="selectionChange"
          @item-expanded="expandChange">
          <template v-slot:top>
            <v-toolbar
              v-if="canAddAlarm"
              dense>
              <v-btn
                @click.stop="editAlarm()">
                {{ $t("addAlarm") }}
              </v-btn>
            </v-toolbar>
          </template>
          <template
            v-if="canAddAlarm"
            v-slot:item.action="{ item }">
            <v-icon
              small
              style="margin-right: 10px;"
              @click.stop="editAlarm(item)">
              fa-pen
            </v-icon>
            <v-icon
              small
              @click.stop="deleteAlarm(item)">
              fa-trash
            </v-icon>
          </template>
          <template v-slot:expanded-item="{ headers }">
            <td :colspan="headers.length">
              <v-data-table
                v-if="canSeeAlarmAreas"
                :headers="alarmAreaHeader"
                :items="allCurrentAlarmAreas"
                :hide-default-footer="true"
                dense
                class="elevation-1"
                @click:row="alarmAreaChange">
                <template v-slot:item.area="{ item }">
                  {{ roundArea(item.area) }}
                </template>
                <template
                  v-if="canAddAlarm"
                  v-slot:item.action="{ item }">
                  <v-icon
                    small
                    style="margin-right: 10px;"
                    @click.stop="editAlarmArea(item)">
                    fa-pen
                  </v-icon>
                  <v-icon
                    small
                    @click.stop="deleteAlarmArea(item)">
                    fa-trash
                  </v-icon>
                </template>
                <template v-slot:footer>
                  <v-btn
                    v-if="canAddAlarm"
                    small
                    @click="addAlarmArea">
                    {{ $t("addArea") }}
                  </v-btn>
                </template>
              </v-data-table>
            </td>
          </template>
        </v-data-table>
      </v-col>
      <v-col>
        <div>
          <EmbeddedMap
            :features="currentAlarmAreas"
            :local-features="previewAlarmAreas" />
          <div v-if="alarmAreaEdit">
            <v-layout>
              <v-text-field
                v-model.number="alarmAreaEdit.alarmDuration"
                type="number"
                step="1"
                :label="$t('alarmDuration')" />
              <v-text-field
                v-model="alarmAreaEdit.icon"
                :label="$t('icon')" />
              <v-text-field
                v-model.number="alarmAreaEdit.strokeThreshold"
                step="1"
                :label="$t('strokeThreshold')" />
            </v-layout>
            <div v-if="isEditingAlarm">
              <v-layout>
                <v-btn
                  :disabled="!geosearch.hasResult"
                  @click="setGeoResultLatLng">
                  <v-icon>fa-globe</v-icon>
                </v-btn>
                <v-text-field
                  v-model.number="useCircle.lat"
                  step="0.0001"
                  :label="$t('latitude')" />
                <v-text-field
                  v-model.number="useCircle.lng"
                  step="0.0001"
                  :label="$t('longtitude')" />
                <v-text-field
                  v-model.number="useCircle.radius"
                  step="1"
                  :label="$t('radius')" />
                <v-text-field
                  v-model.number="useCircle.innerRadius"
                  step="1"
                  :label="$t('innerRadius')" />
                <v-btn @click="createCircle">
                  Create circle
                </v-btn>
              </v-layout>
            </div>
            <v-btn
              :disabled="saveAreaDisabled"
              @click="saveAlarmArea">
              {{ $t("save") }}
            </v-btn>
            <v-btn
              :disabled="saveAreaDisabled"
              @click="cancelEditAlarmArea">
              {{ $t("cancel") }}
            </v-btn>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import EmbeddedMap from "../components/EmbeddedMap";
import { mapState } from "vuex";

export default {
  components: {
    EmbeddedMap: EmbeddedMap
  },

  props: {
    group: {
      type: Object,
      default: ()=> {}
    }
  },
  data: () => ({
    expanded: [],
    alarms: [],
    editDialog: false,
    editItem: {
      name: "test"
    },
    alarmAreaEdit: null,
    alarmAreaOriginal: null,
    useCircle: {
      lat: 0,
      lng: 0,
      radius: 1000,
      innerRadius: 0
    },
    isLoading: true,
    currentAlarm: null,
    allCurrentAlarmAreas: [],
    currentAlarmAreas: [],
    previewAlarmAreas: [],
  }),
  computed: {

    ...mapState({
      isEditingAlarm: state => state.map.leaflet.embedded.LDraw.editing,
      geosearch: state => state.geosearch,
    }),
    canAddAlarm: {
      get() {
        return this.group &&
            !this.isLoading &&
            this.$store.getters["application/activityCheck"](['create alarm']);
      }
    },
    canSeeAlarmAreas: {
      get() {
        return this.$store.getters["application/activityCheck"](['get alarmarea']);
      }
    },
    canEditAlarm: {
      get() {
        return this.group &&
          this.currentAlarm &&
          !this.isLoading &&
          this.$store.getters["application/activityCheck"](['update alarm']);
      }
    },
    canDeleteAlarm: {
      get() {
        return this.group &&
          this.currentAlarm &&
          this.currentAlarm.id &&
          !this.isLoading &&
          this.$store.getters["application/activityCheck"](['delete alarm']);
      }
    },
    saveAreaDisabled: {
      get() {
        if (this.isEditingAlarm ) {
          return false;
        }
        return (JSON.stringify(this.alarmAreaOriginal) === JSON.stringify(this.alarmAreaEdit));
      }
    },
    alarmHeader: {
      get() {
        return [{
          text: this.$t("alarm"),
          align: "left",
          value: "name"
        }, {
          text: "",
          align: "right",
          value: "action"
        }];
      }
    },
    alarmAreaHeader: {
      get() {
        return [{
          text: this.$t("id"),
          align: "left",
          value: "id"
        }, {
          text: this.$t("alarmDuration"),
          align: "left",
          value: "alarmDuration"
        }, {
          text: this.$t("icon"),
          align: "left",
          value: "icon"
        }, {
          text: this.$t("strokeThreshold"),
          align: "left",
          value: "strokeThreshold"
        }, {
          text: this.$t("area"),
          align: "left",
          value: "area"
        }, {
          text: "",
          align: "right",
          value: "action"
        }];
      }
    }
  },
  watch: {
    group() {
      this.refreshGroup();
    }
  },
  mounted() {
    this.loadAlarms();
    if (this.alarms.length) {
      this.currentAlarm = {...this.alarms[0]};
      this.loadAlarmArea(this.alarms[0].id);
    }
  },
  methods: {
    selectionChange(item) {
      this.currentAlarm = {...item};
      this.loadAlarmArea(item.id);
      this.expanded = [item];
    },
    expandChange(item) {
      this.currentAlarm = {...item};
      if (this.canSeeAlarmAreas){
        this.loadAlarmArea(item.id);
      }
    },
    editAlarm(item) {
      if (!item) {
        item = {
          name: "",
          groupId: this.group.group.id
        };
      }
      this.editItem = { ...item };
      this.editDialog = true;
    },
    saveAlarm() {
      this.editDialog = false;
      this.$store.dispatch("alarmmanagement/saveGroupAlarm", {
        groupId: this.group.group.id,
        alarm: this.editItem
      });
    },

    deleteAlarm(alarm) {
      this.$store.dispatch("alarmmanagement/deleteGroupAlarm", {
        groupId: this.group.group.id,
        alarm: alarm
      })
      .then(this.loadAlarms, this.loadAlarms);
    },

    refreshGroup() {
      if (this.canSeeAlarmAreas && this.group && this.group.group) {
        this.loadAlarms();
      }
    },
    resetSettings() {
      this.alarmSettings = {...this.originalSettings};
    },
    loadAlarms() {
      if (!this.group) {
        return;
      }
      this.isLoading = true;
      fetch(window.apiprefix + "group/" + this.group.group.id + "/alarm", { method: "GET" })
      .then(response => {
        response.json()
        .then(data => {
          if (response.status !== 200) {
            this.currentAlarm = null;
            this.alarms = [];
            this.isLoading = false;
            if (response.status !== 401) {
              throw new Error(data.message || response.statusText);
            }
          } else {
            if (Array.isArray(data)) {
              this.alarms = data;
              if (data.length && this.currentAlarm && this.currentAlarm.id) {
                  const curr = data.find(a => a.id = this.currentAlarm.id);
                  if (!curr) {
                    this.currentAlarm = null;
                  } else {
                    this.currentAlarm = {...curr};
                    this.loadAlarmArea(curr.id);
                  }
              } else {
                this.currentAlarm = null;
              }
            } else {
              this.alarms = [];
              this.currentAlarm = null;
            }
            this.isLoading = false;
          }
        });
      })
    },

    loadAlarmArea(id) {
      if (id) {
        fetch(window.apiprefix + "group/" + this.group.group.id + "/alarm/" + id + "/area", { method: "GET" })
        .then(response => {
          response.json()
          .then(data => {
            if (response.status !== 200) {
              this.allCurrentAlarmAreas = [];
              this.currentAlarmAreas = [];
              if (response.status !== 401) {
                throw new Error(data.message || response.statusText);
              }
            } else {
              if (Array.isArray(data)) {
                this.allCurrentAlarmAreas = data.map(d => {
                  return {...d, ...{ geom: JSON.parse(d.geom)}}
                });
                this.currentAlarmAreas = this.allCurrentAlarmAreas;
              } else {
                this.allCurrentAlarmAreas = [];
                this.currentAlarmAreas = [];
              }
            }
          });
        });
      } else {
        this.allCurrentAlarmAreas = [];
        this.currentAlarmAreas = [];
      }
    },

    zoomTo(geom) {
      this.$store.commit("map/zoomEmbeddedMap", geom);
    },

    roundArea(area) {
      return ` ${Math.round(area/10000)} ha`;
    },

    editAlarmArea(item) {
      if (this.isEditingAlarm) {
        this.$store.dispatch("map/multiEditStop", false).then(
          this.$store.dispatch("map/multiEditJSON", item));
      } else {
        this.$store.dispatch("map/multiEditJSON", item)
      }
    },

    cancelEditAlarmArea() {
      this.$store.dispatch("map/multiEditStop", false);
      if (this.alarmAreaOriginal.id) {
        this.alarmAreaEdit = {
          ...this.alarmAreaOriginal,
          ...{ geom: {...this.alarmAreaOriginal.geom} }
        };
      } else {
        this.alarmAreaEdit = null;
      }
    },

    addAlarmArea() {
      this.alarmAreaOriginal = {};
      this.alarmAreaEdit = {};
      this.editAlarmArea({});
    },

    saveAlarmArea() {
      this.$store.dispatch("map/multiEditStop", true)
      .then(result => {
        this.$store.dispatch("alarmmanagement/saveGroupAlarmArea", {
          groupId: this.group.group.id,
          alarmId: this.currentAlarm.id,
          area: {... this.alarmAreaEdit, ...{ geom: result.geometry }}
        });
      });
    },

    deleteAlarmArea(area) {
      this.$store.dispatch("alarmmanagement/deleteGroupAlarmArea", {
        groupId: this.group.group.id,
        alarmId: this.currentAlarm.id,
        areaId: area.id
      }).then(
        this.selectionChange(this.currentAlarm),
        this.selectionChange(this.currentAlarm)
      );
    },

    alarmAreaChange(item) {
      this.alarmAreaOriginal = item;
      this.alarmAreaEdit = { ...item, ...{ geom: {...item.geom} }};
      this.currentAlarmAreas = [item];
      this.zoomTo(this.alarmAreaEdit.geom);
    },

    resetCurrentAlarm() {
      const currentAlarm = this.alarms.find(a => a.id === this.currentAlarm.id);
      if (currentAlarm) {
        this.currentAlarm = { ...currentAlarm};
      } else {
        this.currentAlarm = null;
      }
    },

    submitCurrentAlarm() {
      this.$store.dispatch("alarmmanagement/saveUserAlarm", {
        user: this.user.id,
        alarm: this.currentAlarm
      }).then(
        () => this.loadAlarms(),
        () => this.loadAlarms()
      );
    },

    setGeoResultLatLng() {
      this.useCircle.lat = this.geosearch.latlng[0];
      this.useCircle.lng = this.geosearch.latlng[1];
      this.$store.commit("map/zoomEmbeddedMapLatLng", this.geosearch.latlng);
    },

    createCircle() {
        this.$store.dispatch("map/drawCircle", this.useCircle)
        .then(result => {
          this.previewAlarmAreas.push(result);
          this.zoomTo(result);
        });
    },

    deleteCurrentAlarm() {
      this.$store.dispatch("alarmmanagement/deleteUserAlarm", {
        user: this.user.id,
        alarm: this.currentAlarm.id
      }).then(
        () => this.loadAlarms(),
        () => this.loadAlarms()
      );
    }
  }
};

</script>

<style scoped>
.base-container {
  height: 100%;
  width: 100%;
  padding: 0px;
}
</style>
