<template>
  <v-dialog
    v-model="dialog"
    width="500">
    <v-card class="confirm">
      <v-card-title> {{ title }}</v-card-title>
      <v-card-text v-show="!!message">
        {{ message }}
      </v-card-text>
      <v-card-actions>
        <v-spacer />
        <v-btn @click.native="agree">
          Yes
        </v-btn>
        <v-btn @click.native="cancel">
          Cancel
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<style>
.confirm {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
</style>
<script>
export default {
  data: () => ({
    dialog: false,
    resolve: null,
    reject: null,
    message: null,
    title: null,
  }),
  methods: {
    open(title, message) {
      this.title = title;
      this.message = message;
      this.dialog = true;
      return new Promise((resolve, reject) => {
        this.resolve = resolve;
        this.reject = reject;
      });
    },
    agree() {
      this.resolve(true);
      this.dialog = false;
    },
    cancel() {
      this.resolve(false);
      this.dialog = false;
    }
  }
}
</script>