<template>
  <v-card class="mapCard">
    <div
      ref="map"
      v-resize="onResize"
      class="embedded-map-container" />
  </v-card>
</template>

<style>
@import '../../node_modules/leaflet/dist/leaflet.css';
@import '../../node_modules/leaflet-draw/dist/leaflet.draw.css';
.embedded-map-container {
  height: 100%;
  width: 100%;
}
.mapCard {
  width: 100%;
  height: 500px;
}
</style>

<script>

import { mapState } from "vuex";
export default {
  props: {
    features: {
      type: Array,
      default: () => []
    },
    localFeatures: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
  }),
  computed: {
    ...mapState({
      map: state => state.map.leaflet.LMap,
    })
  },
  watch: {
    features(newValue) {
      this.$store.commit("map/setEmbeddedMapFeatures", newValue);
    },
    localFeatures(newValue) {
      this.$store.commit("map/setEmbeddedMapTempFeatures", newValue);
    }
  },

  mounted() {
    this.$store.commit("map/createEmbeddedMap", this.$refs.map);
    if (this.features) {
      this.$store.commit("map/setEmbeddedMapFeatures", this.features);
    }
    if (this.localFeatures) {
      this.$store.commit("map/setEmbeddedMapTempFeatures", this.localFeatures);
    }
  },
  methods: {
    onResize() {
      if (this.map) {
        this.map.invalidateSize();
      }
    },
  }
};
</script>
