<template>
  <v-autocomplete
    ref="geosearchfield"
    v-model="geosearch"
    :label="$t('search') + ' ' +$t('address')"
    :items="geoOptions"
    item-text="formatted_address"
    return-object
    class="geo-search"
    clearable
    dense
    solo
    style="margin-top: 25px;"
    append-icon="fa-search"
    @change="onSelect"
    @keyup="onGeoSearchKey" />
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      geosearch: {}
    }
  },
  computed: {
    ...mapState({
      geoOptions: state => state.geosearch.resultOptions || [],
      selected: state => state.application.user.userInfo.groupId,
    }),
  },
  methods: {
    onGeoSearchKey(keyEvent) {
      if (keyEvent.key === "Enter" || keyEvent.target.value.length > 4) {
        this.$store.commit("geosearch/search", keyEvent.target.value);
      }
    },
    onSelect(item) {
      this.$store.commit("geosearch/select", item);
    },
  }
};
</script>