<template>
  <grid-layout
    ref="gridContainer"
    :layout.sync="layout"
    :col-num="cols"
    :row-height="15"
    :is-draggable="true"
    :is-resizable="true"
    :is-mirrored="false"
    :vertical-compact="true"
    :margin="[10, 10]"
    :use-css-transforms="true"
    @layout-updated="layoutUpdated">
    <grid-item
      v-for="(item, uid) in gridLayout"
      :key="uid"
      class="grid-item elevation-5"
      :x="item.x"
      :y="item.y"
      :w="item.w"
      :h="item.h"
      :i="item.i"
      :min-w="item.minW"
      :min-h="item.minH"
      :max-h="item.maxH"
      :is-resizable="item.isResizable"
      drag-allow-from=".title-drag, .drag-item"
      @resized="itemResized">
      <closeable-grid-item :item="item" />
    </grid-item>
  </grid-layout>
</template>

<style>
.grid-item {
  pointer-events: all !important;
  max-height: 80%;
}
</style>

<script>
import VueGridLayout from "vue-grid-layout";
import { mapState } from "vuex";
import CloseableGridItem from "./GridItem.vue";
export default {
  components: {
    GridLayout: VueGridLayout.GridLayout,
    GridItem: VueGridLayout.GridItem,
    CloseableGridItem: CloseableGridItem
  },
  data: () => ({
    cols: 12,
    width: 1000,
    gridLayoutInit: [
      {
        isResizable: false,
        uid: 1,
        x: 0,
        y: 0,
        w: 2,
        minW: 2,
        h: 2,
        minH: 2,
        i: 1,
        type: "tools",
        closeable: false,
        collapsible: false,
        dragItem: true
      }
    ],

    props: ["map"]
  }),
  computed: {
    ...mapState({
      layout(state) {
        this.gridLayout = state.application.layout;
        return state.application.layout;
      }
    })
  },
  watch: {
    width() {
      this.cols = this.width / 28;
    },
    gridLayout() {
      this.$refs.gridContainer.$emit("layout-updated", this.gridLayout);
    }
  },
  mounted() {
    this.cols = Math.floor(window.innerWidth / 56);
    this.$nextTick(() => {
      window.addEventListener("resize", () => {
        this.width = window.innerWidth / 2;
      });
    });
    if (this.$store.state.application.layout.length === 0) {
      this.$store.commit("application/layout", this.gridLayoutInit);
    }
  },
  methods: {
    layoutUpdated(layout) {
      this.$store.commit("application/layout", layout);
    },
    itemResized() {
      this.$store.commit("application/layout", this.layout);
    }
  }
};
</script>
