<template>
  <v-card
    height="100%"
    width="100%">
    <v-card-title style="height:100%;padding-top:0px">
      <v-icon
        v-if="item.dragItem && (!item.title || item.title === '')"
        class="drag-item">
        {{ dragIcon }}
      </v-icon>
      <div
        v-if="
          item.h === 2 && item.dragItem && (!item.title || item.title === '')
        "
        style="height: 28px; border-left:1px solid grey; margin-top: 5px; margin-left:7px" />
      <hr
        v-if="item.h > 2 && item.dragItem && (!item.title || item.title === '')"
        style="width: 28px;">
      <div
        v-if="item.title && item.title !== ''"
        class="title-drag"
        style="display: flex; width: 100%;">
        <h4 style="margin-top:4px;">
          {{ $t(item.title) }}
        </h4>
        <div
          :ref="'titleContainer_' + item.uid"
          style="margin-left: auto; margin-bottom: 5px;margin-top: 5px;" />
        <v-btn
          v-if="item.collapsible"
          class="grid-button"
          small
          icon
          @click="collapseCard">
          <v-icon small>
            {{ collapseIcon }}
          </v-icon>
        </v-btn>
        <v-btn
          v-if="item.closeable"
          small
          class="grid-button"
          icon
          @click="closeCard">
          <v-icon small>
            fa-times
          </v-icon>
        </v-btn>
      </div>
      <div
        v-if="item.type === 'chart'"
        :ref="item.uid"
        class="full-size">
        <hr class="title-hr">
        <Chart />
      </div>
      <div
        v-else-if="item.type === 'archive'"
        :ref="item.uid"
        class="full-size">
        <hr class="title-hr">
        <Archive />
      </div>
      <div
        v-else-if="item.type === 'layerswitcher'"
        :ref="item.uid"
        class="full-size">
        <hr class="title-hr">
        <LayerSwitcher />
      </div>
      <div
        v-else-if="item.type === 'mapruler'"
        :ref="item.uid"
        class="toolbar-size">
        <MapRuler />
      </div>
      <div
        v-else-if="item.type === 'tools'"
        :ref="item.uid"
        class="toolbar-size">
        <Tools />
      </div>
      <div
        v-else
        class="full-size">
        <div
          style="background-color: rgb(245, 245, 245); height: 100%; width: 100%;" />
      </div>
    </v-card-title>
  </v-card>
</template>

<style>
.title-hr {
  border: solid #555 1px;
  width: 100%;
  margin-bottom: 10px;
}
.full-size {
  width: 100%;
  height: 100%;
}
.toolbar-size {
  height: inherit;
}
</style>

<script>
import Chart from "./modules/Chart.vue";
import LayerSwitcher from "./modules/LayerSwitcher.vue";
import MapRuler from "./modules/MapRuler.vue";
import Archive from "./modules/Archive.vue";
import Tools from "./modules/Tools.vue";
export default {
  components: {
    Chart: Chart,
    LayerSwitcher: LayerSwitcher,
    MapRuler: MapRuler,
    Archive: Archive,
    Tools: Tools
  },
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    collapseIcon: "fa-chevron-up",
    collapsed: false,
    origHeight: 4
  }),
  computed: {
    dragIcon: function() {
      if (this.item.h === 2) {
        return "fa-grip-lines-vertical";
      } else {
        return "fa-grip-lines";
      }
    }
  },
  mounted() {
    this.origHeight = this.item.h;
  },
  methods: {
    collapseCard() {
      let newHeight = this.origHeight;
      if (!this.collapsed) {
        newHeight = 2;
        this.origHeight = this.item.h;
        this.collapsed = true;
        this.collapseIcon = "fa-chevron-down";
        this.$refs[this.item.uid].hidden = true;
      } else {
        this.collapsed = false;
        this.collapseIcon = "fa-chevron-up";
        this.$refs[this.item.uid].hidden = false;
      }
      let layout = this.$store.state.application.layout;
      layout = layout.map(item => {
        if (item.i === this.item.i) {
          this.item.h = newHeight;
          this.item.isResizable = !this.collapsed;
          return { ...item, h: newHeight, isResizable: !this.collapsed };
        }
        return item;
      });
      this.$store.commit("application/layout", layout);
    },
    closeCard() {
      let layout = this.$store.state.application.layout;
      layout.map((item, i) => {
        if (item.i === this.item.i) {
          layout.splice(i, 1);
        }
      });
      this.$store.commit("application/layout", layout);
      delete this;
    }
  }
};
</script>

<style>
.grid-button {
  margin: 3px 0px 0px 0px;
}
.drag-item {
  margin-top: 7px;
  margin-left: -5px;
}
</style>
