<template>
  <v-container
    fluid
    fill-height
    class="group">
    <v-tabs
      vertical
      class="vertical-tabs">
      <v-tab
        active-class="active-tab">
        {{ $t('details') }}
      </v-tab>
      <v-tab
        v-if="canSeeStrokeArea"
        active-class="active-tab">
        {{ $t('strokeArea') }}
      </v-tab>
      <v-tab
        v-if="canSeeSettings"
        active-class="active-tab">
        {{ $t('appSettings') }}
      </v-tab>
      <v-tab
        active-class="active-tab">
        {{ $t('layers') }}
      </v-tab>
      <v-tab-item>
        <GroupDetailForm :group="group" />
      </v-tab-item>
      <v-tab-item v-if="canSeeStrokeArea">
        <EmbeddedMap
          :features="groupStrokeArea"
          :local-features="previewStrokeArea" />
        <v-toolbar
          dense>
          <v-btn
            class="mr-2"
            @click="editStrokeArea()">
            <v-icon left>
              fa-map-marked-alt
            </v-icon>
            {{ $t("edit") }}
          </v-btn>
          <v-btn
            class="mr-2"
            :disabled="!previewStrokeArea.length"
            color="success"
            @click="submitStrokeArea()">
            <v-icon left>
              fa-save
            </v-icon>
            {{ $t('save') }}
          </v-btn>
          <v-btn
            :disabled="!previewStrokeArea.length"
            @click="resetStrokeArea()">
            <v-icon left>
              fa-times
            </v-icon>
            {{ $t('cancel') }}
          </v-btn>
          <v-spacer />
          <v-card v-if="shapeEditing">
            <v-radio-group
              v-model="editMethod"
              row>
              <v-radio
                v-if="geosearch.hasResult"
                :label="$t('useGeosearchAddress')"
                value="addr" />
              <v-radio
                :label="$t('byCoordinates')"
                value="coord" />
            </v-radio-group>
            <v-layout v-if="editMethod === 'addr'">
              <v-text-field
                readonly
                :value="geosearch.display" />
              <div v-if="geosearch.hasResult">
                <v-select
                  v-model="distance"
                  :items="availableDistances"
                  :label="$t('size')" />
              </div>
            </v-layout>
            <v-layout v-if="editMethod === 'coord'">
              <v-text-field
                v-model.number="previewStrokeAreaBB.N"
                type="number"
                step="0.0001"
                :label="$t('north')" />
              <v-text-field
                v-model.number="previewStrokeAreaBB.E"
                type="number"
                step="0.0001"
                :label="$t('east')" />
              <v-text-field
                v-model.number="previewStrokeAreaBB.S"
                type="number"
                step="0.0001"
                :label="$t('south')" />
              <v-text-field
                v-model.number="previewStrokeAreaBB.W"
                type="number"
                step="0.0001"
                :label="$t('west')" />
            </v-layout>
            <v-btn @click="previewStrokeAreaBox">
              <v-icon left>
                fa-eye
              </v-icon>
              {{ $t('preview') }}
            </v-btn>
          </v-card>
        </v-toolbar>
      </v-tab-item>
      <v-tab-item v-if="canSeeSettings">
        <GroupAppSettingsForm :group="group" />
      </v-tab-item>
      <v-tab-item>
        <GroupLayers :group="group" />
      </v-tab-item>
    </v-tabs>
  </v-container>
</template>

<script>
import EmbeddedMap from "../components/EmbeddedMap";
import GroupAppSettingsForm from "./GroupAppSettingsForm";
import GroupDetailForm from "./GroupDetailForm";
import GroupLayers from "./GroupLayers";
import { mapState } from "vuex";
export default {
  components: {
    EmbeddedMap,
    GroupAppSettingsForm,
    GroupDetailForm,
    GroupLayers
  },
  props: {
    group: {
      type: Object,
      default: ()=> {}
    }
  },
  data: () => ({
    shapeEditing: false,
    editMethod: "coord",
    groupStrokeArea: [],
    previewStrokeArea: [],
    distance: 120000,
    availableDistances: [{
      text: "120 km",
      value: 120000
    }, {
      text: "150 km",
      value: 150000
    }, {
      text: "400 km",
      value: 400000
    }],
    previewStrokeAreaBB: {
      N: 0,
      E: 0,
      W: 0,
      S: 0
    },
    groupSettings: null
  }),
  computed: {
    ...mapState({
      groups: state => state.usermanagement.groups,
      geosearch: state => state.geosearch,
      geosearchlatlng: state => state.geosearch.latlng,
      grouproles: state => state.usermanagement.grouproles,
    }),
    canSeeStrokeArea: {
      get() {
        if (!this.group || !this.group.group.id) {
          return false;
        }
        return this.$store.getters["application/activityCheck"](["get strokearea"]);
      }
    },
    canSeeSettings: {
      get() {
        if (!this.group || !this.group.group.id) {
          return false;
        }
        return this.$store.getters["application/activityCheck"](["get appsetting"]);
      }
    }
  },
  watch: {
    group() {
      this.refreshGroup();
    },
    geosearchlatlng() {
      if (this.geosearch.hasResult) {
        this.editMethod = "addr";
        this.$store.commit("map/zoomEmbeddedMapLatLng", this.geosearchlatlng);
      }
    }
  },

  mounted() {
    this.refreshGroup();
  },
  methods: {
    refreshGroup() {
      if (this.canSeeStrokeArea && this.group && this.group.group) {
        fetch(window.apiprefix + "group/" + this.group.group.id + "/strokearea")
        .then(response => {
          this.previewStrokeArea = [];
          this.shapeEditing = false;
          response.json().then(data => {
            if (response.status !== 200) {
              this.groupStrokeArea = [];
              if (response.status !== 401) {
                throw new Error(data.message || response.statusText);
              }
            } else {
              if (data && data.geom) {
                const geom = JSON.parse(data.geom);
                this.groupStrokeArea = [
                  { ...data, geom: geom}
                ];
                this.$store.dispatch("map/getJsonBounds", geom)
                .then(res => {
                  this.previewStrokeAreaBB = res;
                });
              } else {
                this.groupStrokeArea = [];
                this.previewStrokeAreaBB = {N: 0, E: 0, S: 0, W: 0};
              }
            }
          });
        });
      }
      if (this.canSeeSettings && this.group && this.group.group) {
        fetch(window.apiprefix + "group/" + this.group.group.id + "/settings")
        .then( response => {
          response.json()
          .then(data => {
            if (response.status !== 200) {
              this.groupSettings = {};
              if (response.status !== 401) {
                throw new Error(data.message || response.statusText);
              }
            } else {
              this.groupSettings = data || {};
            }
          });
        });
      }
    },

    editStrokeArea() {
      this.shapeEditing = true;
      this.previewStrokeArea = [];
    },

    submitStrokeArea() {
      const callback = () => {
        this.shapeEditing = false;
        this.previewStrokeArea = [];
        this.refreshGroup();
        this.$store.dispatch("application/getStrokeArea");
      };
      this.$store.dispatch("usermanagement/saveGroupStrokeArea", {
        ...this.groupStrokeArea[0],
        ...{
          geom: this.previewStrokeArea[0].toGeoJSON().geometry
        }
      })
      .then( callback, callback );
    },
    resetStrokeArea() {
      this.previewStrokeArea = [];
      this.shapeEditing = false;
    },

    previewStrokeAreaBox() {
      if (this.editMethod === "addr" && this.geosearch.hasResult && this.distance) {
        this.$store.dispatch("map/getJsonSquare", {
          lat: this.geosearch.latlng[0],
          lng: this.geosearch.latlng[1],
          dist: this.distance
        })
        .then(res => {
          this.previewStrokeArea = [res];
          this.$store.commit("map/zoomEmbeddedMap", res);
        });
      }
      else if (this.editMethod === "coord" &&
        this.previewStrokeAreaBB.W < this.previewStrokeAreaBB.E &&
        this.previewStrokeAreaBB.N > this.previewStrokeAreaBB.S
      ) {
        this.$store.dispatch(
          "map/getJsonRectangle", this.previewStrokeAreaBB)
        .then(res => {
          this.previewStrokeArea = [res ];
          this.$store.commit("map/zoomEmbeddedMap", res);
        });
      }
    }
  }
};
</script>

<style>
.group {
  background-color: white;
}
.vertical-tabs .v-tabs-bar {
  width: 200px;
}
.active-tab {
  font-weight: bold;
  background-color: lightgray;
  color: rgb(73, 73, 73) !important;
}
</style>
