<template>
  <v-layout
    column
    fill-height>
    <v-layout>
      <v-breadcrumbs :items="breadCrumbs">
        <template v-slot:divider>
          <v-icon small>
            fa-arrow-right
          </v-icon>
        </template>
        <template
          v-slot:item="props"
          active-class="default-class active-item">
          <a
            :class="[props.item.disabled && 'active-item']"
            @click="goto(props.item.id)">{{ props.item.text }}</a>
        </template>
      </v-breadcrumbs>
      <div v-if="currentChildren.length">
        <v-menu
          bottom
          offset-x
          right>
          <template v-slot:activator="{ on }">
            <v-btn
              icon
              style="margin-top:10px;"
              v-on="on">
              <v-icon>fa-chevron-circle-right</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-item
              v-for="item in currentChildren"
              :key="item.id"
              @click="goto(item.id)">
              <v-list-item-content>
                <v-list-item-title v-text="item.name" />
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
      <v-spacer />
    </v-layout>
    <v-divider />
    <v-layout fill-height>
      <v-tabs grow>
        <v-tab
          key="groups"
          active-class="active-tab">
          {{ $t("group") }}
        </v-tab>
        <v-tab
          key="users"
          active-class="active-tab">
          {{ $t("users") }}
          <v-chip
            small
            style="flex:none; margin-left: 5px;">
            {{ userList.length }}
          </v-chip>
        </v-tab>
        <v-tab
          v-if="canSeeUserAlarms"
          key="alarms"
          active-class="active-tab">
          {{ $t('alarms') }}
        </v-tab>
        <v-tab-item>
          <v-layout>
            <GroupDetails :group="currentGroup" />
          </v-layout>
        </v-tab-item>
        <v-tab-item>
          <v-layout>
            <UserList />
          </v-layout>
        </v-tab-item>
        <v-tab-item>
          <v-layout>
            <Alarms :group="currentGroup" />
          </v-layout>
        </v-tab-item>
      </v-tabs>
    </v-layout>
  </v-layout>
</template>

<script>
import GroupDetails from "./GroupDetails";
import { mapState } from "vuex";
import UserList from "./UserList";
import Alarms from "./Alarms";
export default {
  components: {
    GroupDetails: GroupDetails,
    UserList: UserList,
    Alarms: Alarms
  },
  data: () => ({
    loading: false,
    breadCrumbs: [],
  }),
  computed: {
    ...mapState({
      ownGroup: state => state.application.user.userInfo.groupId,
      currentGroup: state => state.usermanagement.currentGroup,
      currentChildren: state => state.usermanagement.currentChildren,
      userList: state => state.usermanagement.userList,
      groupList: state => state.usermanagement.groups
    }),
    goToChild: {
      get() {
        return null;
      },
      set(value){
        this.goto(value);
      }
    },
    canSeeUserAlarms: {
      get() {
        return this.$store.getters["application/activityCheck"](["get alarm"]);
      }
    },
  },
  watch: {
    currentGroup() {
      if (
        this.currentGroup &&
        this.currentGroup.group &&
        this.currentGroup.group.id
      ) {
        this.recalculateBreadCrumb(this.currentGroup.group.id);
      }
    }
  },
  mounted() {
    this.goto(this.ownGroup);
    this.$store.commit("usermanagement/fetchRoles");
  },
  methods: {
    goto(id) {
      this.$store.dispatch('usermanagement/activateGroup', id);
    },
    canSeeUserAlarmSettings(item) {
      if (!item.id) {
        return false;
      }
      return this.$store.getters["application/activityCheck"](['get alarmsetting']);
    },
    recalculateBreadCrumb (id) {
      const me = this;
      const find = function(item) {
          let crumb = [{
            disabled: item.group.id === id,
            text: item.group.name,
            id: item.group.id
          }];
        if (item.group.parent && item.group.id !== me.ownGroup) {
          crumb = crumb.concat(find(me.groupList[item.group.parent]));
        }
        return crumb;
      }
      const crumbs = find(me.groupList[id]);
      crumbs.reverse();
      me.breadCrumbs = crumbs;
    }
  }
};
</script>

<style>
.group-tree-container {
  max-width: 300px;
}
.user-search {
  padding: 0px;
}
.tree-collapse {
  margin-left: auto;
}
.active-item {
  font-weight: bold;
}
.expansion {
  background-color: var(--v-primary-lighten1) !important;
}
.active-tab {
  font-weight: bold;
  background-color: lightgray;
  color: rgb(73, 73, 73) !important;
}
</style>
