<template>
  <v-container fluid>
    <v-row>
      <v-col cols="detailView ? 4 : 12">
        <v-data-table
          :headers="layerHeader"
          :items="groupLayers"
          class="elevation-1"
          @click:row="selectionChange">
          <template v-slot:top>
            <v-toolbar
              v-if="canAddLayer"
              dense>
              <v-select
                :items="apiLayers"
                item-text="geoserverName"
                return-object
                :label="$t('addLayer') + '...'"
                @change="addLayer" />
            </v-toolbar>
          </template>
          <template
            v-if="canDeleteLayer"
            v-slot:item.action="{ item }">
            <v-icon
              small
              @click.stop="deleteLayer(item)">
              fa-trash
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <v-col
        v-if="detailView"
        cols="8">
        <v-btn icon>
          <v-icon
            @click="hideDetails">
            fa-chevron-right
          </v-icon>
        </v-btn>
        <v-layout>
          <v-col
            cols="6">
            <v-text-field
              v-model="baseLayerName"
              disabled
              :label="$t('baseLayer')" />
          </v-col>
          <v-col
            cols="6">
            <v-text-field
              v-model="currentLayer.displayName"
              :label="$t('displayName')" />
          </v-col>
        </v-layout>
        <v-layout>
          <v-col
            cols="4">
            <v-checkbox
              v-model="currentLayer.permanent"
              :label="$t('permanent')" />
          </v-col>
          <v-col
            cols="4">
            <v-checkbox
              v-model="currentLayer.checkedOnLogin"
              :label="$t('checkedOnLogin')" />
          </v-col>
          <v-col
            cols="4">
            <v-checkbox
              v-model="currentLayer.featureInfo"
              :label="$t('featureInfo')" />
          </v-col>
        </v-layout>
        <v-layout>
          <v-col
            cols="6">
            <v-text-field
              v-model.number="currentLayer.reloadTime"
              :label="$t('reloadTime')" />
            <v-text-field
              v-model="currentLayer.popupTemplate"
              :label="$t('popupTemplate')" />
            <v-text-field
              v-model.number="currentLayer.zIndex"
              step="1"
              :label="$t('zIndex')" />
          </v-col>
          <v-col
            cols="6">
            <v-card v-if="currentLayer.layerType !== 'google'">
              <v-card-title>
                {{ $t("cqlFilter") }}
              </v-card-title>
              <v-card-text>
                <v-text-field
                  v-for="param in cqlFilter"
                  :key="param.name"
                  :label="param.name"
                  :value="param.value"
                  @change="changeCqlFilter(param, $event)" />
                <!-- TODO: different color/icon? -->
                <v-text-field
                  :label="$t('addCqlFilter')"
                  @change="addCqlFilter" />
              </v-card-text>
            </v-card>
          </v-col>
        </v-layout>
        <v-layout>
          <!-- save clear button -->
          <v-btn
            @click="saveLayer">
            {{ $t("save") }}
          </v-btn>
          <v-btn
            @click="resetLayer">
            {{ $t("reset") }}
          </v-btn>
        </v-layout>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    group: {
      type: Object,
      default: ()=> {}
    }
  },
  data: () => ({
    detailView: false,
    layerHeader: [{
      text: "Name",
      value: "displayName"
    }, {
      text: "zIndex",
      value: "zIndex"
    }, {
      text: "",
      value: "action"
    }],
    currentLayer: {},
    apiLayers: [],
    groupLayers: [],
    cqlFilter: []
  }),
  computed: {
    ...mapState({
      ownGroupId: state => state.application.user.userInfo.groupId,
    }),
    canAddLayer: {
      get() {
        return (this.apiLayers.length > 0) && this.$store.getters["application/activityCheck"](["create layer"]);
      }
    },
    canDeleteLayer: {
      get() {
        return this.$store.getters["application/activityCheck"](
          ["delete layer"]);
      }
    },
    baseLayerName: {
      get() {
        if (!this.currentLayer) {
          return '';
        }
        const apilayer = this.apiLayers.find(al => al.id === this.currentLayer.layerID);
        return apilayer ? apilayer.name : '';
      }
    }
  },
  watch: {
    group() {
      this.getLayers();
    }
  },
  mounted() {
    this.getLayers();
  },
  methods: {
    selectionChange(item) {
      this.detailView = true;
      this.currentLayer = {...item};
      this.cqlFilterChange();
    },
    addLayer(layer) {
      this.currentLayer = {
        groupId: this.group.group.id,
        layerID: layer.id,
        reloadTime: null,
        displayName: layer.defaultName,
        featureInfo: false,
        checkedOnLogin: true,
        permanent: layer.baseLayer,
        cqlFilter: null,
        popupTemplate: "",
        zIndex: null
      };
      this.detailView = true;
    },
    resetLayer() {
      const original = this.groupLayers.find(
        r => r.id === this.currentLayer.id);
      if (original) {
        this.currentLayer = {...original}
      } else {
        this.currentLayer = {...this.groupLayers[0]};
        this.detailView = false;
      }
      this.cqlFilterChange();
    },
    deleteLayer(item){
      this.$store.dispatch("usermanagement/deleteGroupLayer", {
        groupId: this.group.group.id,
        layer: item })
      .then( this.getLayers, this.getLayers);
    },
    saveLayer(){
      this.$store.dispatch("usermanagement/saveGroupLayer", {
        groupId: this.group.group.id,
        layer: this.currentLayer})
      .then( this.getLayers, this.getLayers);
    },
    getLayers(){
      if (this.group) {
        fetch(`group/${this.group.group.id}/maplayer`)
        .then(response => {
          response.json()
          .then( data => {
            if (response.status !== 200) {
              this.groupLayers = [];
              this.apiLayers = [];
              if (response.status !== 401) {
                throw new Error(data.message || response.statusText);
              }
            } else {
              this.groupLayers = Array.isArray(data) ? data: [];
              fetch(window.apiprefix + "layer")
              .then(response => {
                response.json()
                .then( data => {
                  if (response.status !== 200) {
                    this.apiLayers = [];
                    if (response.status !== 401) {
                      throw new Error(data.message || response.statusText);
                    }
                  } else {
                    this.apiLayers = Array.isArray(data) ? data: [];
                    if (this.group.group.id === this.ownGroupId) {
                      this.cqlFilterChange();
                      this.$store.dispatch("application/reloadUserLayers");
                    }
                  }
                });
              });
            }
          });
        });
      }
    },
    hideDetails() {
      this.currentLayer = {};
      this.detailView = false;
    },
    cqlFilterChange() {
      if (!this.currentLayer || !this.currentLayer.cqlFilter) {
        this.cqlFilter = [];
      } else {
        this.cqlFilter = Object.keys(
          this.currentLayer.cqlFilter)
          .map(key => {
            return {
              name: key,
              value: this.currentLayer.cqlFilter[key]
            }
        })
      }
    },
    changeCqlFilter(parameter, value) {
      if (value !== "") {
        // should recognize/keep boolean values TODO: handle "wrong" input
        if (typeof parameter.value === "boolean") {
          if (value === "true" || value === true) {
            value = true;
          } else {
            value = false;
          }
        }
        this.currentLayer.cqlFilter[parameter.name] = value;
        this.cqlFilterChange();
      }
      else {
        this.removecqlFilter(parameter.name)
      }
    },
    addCqlFilter(name) {
      if (!this.currentLayer.cqlFilter) {
        this.currentLayer.cqlFilter = {};
      }
      this.currentLayer.cqlFilter[name] = '';
      this.cqlFilterChange();
    },
    removeCqlFilter(name) {
      delete this.currentLayer.cqlFilter[name];
      this.cqlFilterChange();
    }
  }
}
</script>
