<template>
  <v-card
    fluid
    fill-height
    column
    class="group-form">
    <v-form
      ref="form"
      class="ma-5">
      <v-row column>
        <v-col
          cols="6">
          <v-text-field
            v-model="groupCopy.name"
            :label="$t('groupName')" />
        </v-col>
        <v-col
          cols="6">
          <v-text-field
            v-model="parentName"
            readonly
            :label="$t('parentGroup')" />
        </v-col>
      </v-row>
      <v-row>
        <v-col
          cols="6">
          <v-select
            v-model="groupCopy.themeId"
            :items="themes"
            item-text="name"
            item-value="id"
            :label="$t('theme')" />
        </v-col>
        <v-col
          cols="6">
          <v-select
            v-if="canSeeRoles"
            v-model="groupCopy.roleId"
            :items="grouproles"
            item-text="name"
            item-value="id"
            :label="$t('role')" />
        </v-col>
      </v-row>
      <v-layout>
        <v-flex>
          <v-text-field
            v-model="groupCopy.maxAlarmArea"
            type="number"
            :label="$t('maxAlarmArea')" />
        </v-flex>
      </v-layout>
    </v-form>
    <v-toolbar
      dense>
      <v-btn
        class="mr-2"
        color="success"
        :disabled="saveDisabled"
        @click="saveGroup()">
        <v-icon left>
          fa-save
        </v-icon>
        {{ $t("save") }}
      </v-btn>
      <v-btn
        color=""
        :disabled="saveDisabled"
        @click="cancel()">
        <v-icon left>
          fa-times
        </v-icon>
        {{ $t("cancel") }}
      </v-btn>
      <v-spacer />
      <v-btn
        v-if="canAddGroup"
        color=""
        @click="addGroup()">
        <v-icon left>
          far fa-plus-square
        </v-icon>
        {{ $t("addChildGroup") }}
      </v-btn>
      <v-btn
        v-if="canDeleteGroup"
        color=""
        @click="deleteGroup()">
        {{ $t("delete") + " " + $t("group") }}
      </v-btn>
    </v-toolbar>
    <ConfirmDialog ref="confirm" />
  </v-card>
</template>

<script>
import { mapState } from "vuex";
import ConfirmDialog from "./ConfirmDialog";
export default {
  components: {
    ConfirmDialog
  },
  props: {
    group: {
      type: Object,
      default: () => {}
    },
  },
  data: () => ({
    groupCopy: {},
    themes: [],
  }),
  computed: {
    ...mapState({
      groups: state => state.usermanagement.groups,
      grouproles: state => state.usermanagement.grouproles,
      ownGroupID: state => state.application.user.userInfo.groupId
    }),
    parentName: {
      get() {
        if (!this.groupCopy || !this.groupCopy.parent){
          return '---';
        }
        const parent = this.groups[this.groupCopy.parent];
        return parent && parent.group ? parent.group.name : '---';
      }
    },
    isOwnGroup: {
      get() {
        return this.groupCopy.id === this.ownGroupID;
      }
    },
    canAddGroup: {
      get() {
        if (!this.groupCopy.id) {
          return false;
        }
        return this.$store.getters["application/activityCheck"](['create group']);
        }
    },
    saveDisabled: {
      get(){
        if (!this.group || !this.group.group) {
          return true;
        }
        return JSON.stringify(this.groupCopy) ===
          JSON.stringify(this.group.group);
      }
    },
    canSeeRoles: {
      get() {
        if (this.isOwnGroup) {
          return false;
        }
        return this.$store.getters["application/activityCheck"](['get role']);
      }
    },

    canDeleteGroup: {
      get() {
        if (!this.groupCopy.id || this.groupCopy.id === this.ownGroupID) {
          return false;
        }
        const grp = this.groups[this.groupCopy.id];
        if (
          (grp.children && grp.children.length) ||
          (grp.users && grp.users.length)
        ) {
          return false;
        }
        return this.$store.getters["application/activityCheck"](['delete group']);
        }
    }
  },
  watch: {
    group(value) {
      this.groupCopy = { ...value.group };
    }
  },
  mounted() {
    if (this.group) {
      this.groupCopy = { ...this.group.group };
    }
    fetch(window.apiprefix + "theme")
      .then(response => {
        response.json()
        .then(data => {
          if (response.status !== 200) {
            this.themes = [];
            if (response.status !== 401) {
              throw new Error(data.message || response.statusText);
            }
          } else {
            this.themes = Array.isArray(data) ? data : [];
          }
        });
      });
  },
  methods: {
    raiseAlarmArea() {
      const aa = parseInt(this.groupCopy.maxAlarmArea, 10);
      if (aa < 2147482647)
      this.groupCopy.maxAlarmArea = aa + 1000;
    } ,
    shrinkAlarmArea() {
      const aa = parseInt(this.groupCopy.maxAlarmArea, 10);
      if (aa > 1000) {
        this.groupCopy.maxAlarmArea = aa - 1000;
      }
    },
    saveGroup() {
      this.$store.dispatch("usermanagement/saveGroup", this.groupCopy)
      .then(
        () => { this.groupCopy = { ...this.group.group }},
        () => { this.groupCopy = { ...this.group.group }}
      );
    },
    cancel() {
      if (!this.groupCopy.id) {
        this.$store.dispatch("usermanagement/activateGroup", this.groupCopy.parent);
      } else {
        this.groupCopy = { ...this.group.group };
      }
    },
    addGroup() {
      this.$store.commit('usermanagement/addGroup');
    },
    deleteGroup(){
      const text = this.$t("delete")  + " " + this.$t("group") + ` ${this.group.group.name}?`;
      this.$refs.confirm.open(this.$t("delete") + " " + this.$t("group"), text).then((confirm) => {
        if (confirm) {
          this.$store.dispatch('usermanagement/deleteGroup', this.groupCopy);
        }
      });
    }
  }
};
</script>

<style>
.group-form {
  background-color: white;
}
</style>
