<template>
  <v-container
    fluid
    fill-height
    class="group-form">
    <v-layout column>
      <v-form
        ref="form"
        class="user-form">
        <v-container
          grid-list-lg
          fluid>
          <v-layout column>
            <v-layout>
              <v-flex>
                <v-text-field
                  v-model="settingsCopy.maxDisplayTime"
                  :disabled="!canEditSettings"
                  :label="$t('displayTime')" />
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="settingsCopy.archiveDays"
                  :disabled="!canEditSettings"
                  :label="$t('archiveDays')" />
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex>
                <v-text-field
                  v-model="settingsCopy.maxZoom"
                  :disabled="!canEditSettings"
                  :label="$t('maxZoom')" />
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="settingsCopy.minZoom"
                  :disabled="!canEditSettings"
                  :label="$t('minZoom')" />
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex>
                <v-checkbox
                  v-model="settingsCopy.liveBlids"
                  :disabled="!canEditSettings"
                  :label="$t('liveDisplay')" />
              </v-flex>
              <v-flex>
                <v-checkbox
                  v-model="settingsCopy.animation"
                  :disabled="!canEditSettings"
                  :label="$t('animation')" />
              </v-flex>
              <v-flex>
                <v-checkbox
                  v-model="settingsCopy.sound"
                  :disabled="!canEditSettings"
                  :label="$t('sound')" />
              </v-flex>
              <v-flex>
                <v-checkbox
                  v-model="settingsCopy.statisticWindowed"
                  :disabled="!canEditSettings"
                  :label="$t('statisticsWindowed')" />
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex>
                <v-text-field
                  v-model="settingsCopy.maxAlarms"
                  :disabled="!canEditSettings"
                  :label="$t('maxAlarms')" />
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="settingsCopy.path"
                  :disabled="!canEditSettings"
                  :label="$t('path')" />
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="settingsCopy.maxAlarmAreas"
                  :disabled="!canEditSettings"
                  :label="$t('maxAlarmAreas')" />
              </v-flex>
              <v-flex>
                <v-text-field
                  v-model="settingsCopy.maxAlarmUser"
                  :disabled="!canEditSettings"
                  :label="$t('maxAlarmUser')" />
              </v-flex>
            </v-layout>
            <v-layout>
              <!-- Date picker for archiveSince date -->
              <v-menu
                ref="menu0"
                v-model="tmenu0"
                :close-on-content-click="false"
                :return-value.sync="archiveDate"
                transition="scale-transition"
                offset-y
                min-width="290px">
                <template v-slot:activator="{ on }">
                  <v-text-field
                    v-model="archiveDateFormatted"
                    :label="$t('archiveSince')"
                    prepend-icon="fa-calendar"
                    readonly
                    v-on="on" />
                </template>
                <v-date-picker
                  v-model="archiveDate"
                  no-title
                  scrollable>
                  <v-spacer />
                  <v-btn
                    text
                    color="primary"
                    @click="tmenu0 = false">
                    {{ $t("cancel") }}
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu0.save(archiveDate)">
                    {{ $t("ok") }}
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </v-layout>
            <v-layout class="mb-2 ">
              <v-btn
                color="success"
                :disabled="saveDisabled"
                @click="saveSettings()">
                {{ $t("save") }}
              </v-btn>
              <v-btn
                color=""
                :disabled="saveDisabled"
                @click="cancel()">
                {{ $t("reset") }}
              </v-btn>
            </v-layout>
          </v-layout>
        </v-container>
      </v-form>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  props: {
    group: {
      type: Object,
      default: () => {}
    },
  },
  data: () => ({
    tmenu0: false,
    settingsCopy: {},
    settings: {},
    dateDisplayFormat: {
      day: "2-digit",
      month: "2-digit",
      year: "numeric"
    }
  }),
  computed: {
    ...mapState({
    }),
    saveDisabled: {
      get(){
        if (!this.settings) {
          return true;
        }
        return JSON.stringify(this.settings) ===
          JSON.stringify(this.settingsCopy);
      }
    },
    archiveDateFormatted: {
      get() {
        return new Date(this.archiveDate).toLocaleDateString(
        "de", this.dateDisplayFormat);
      }
    },
    archiveDate: {
      get() {
        if (!this.settingsCopy.archiveSince) {
          return '1970-01-01';
        }
        return new Date(this.settingsCopy.archiveSince.Time).toISOString().substr(0,10);
      },
      set(value) {
        if (this.canEditSettings) {
          this.settingsCopy.archiveSince.Time = new Date(value).toISOString();
        }
      }
    },
    locale: {
      get() { return this.$i18n.locale; }
    },
    canEditSettings: {
      get() {
        if (!this.settingsCopy) {
          return false;
        }
        return this.$store.getters["application/activityCheck"](['update appsetting']);
      }
    }
  },
  watch: {
    group() {
      this.fetchSettings();
    }
  },
  mounted() {
    if (this.group) {
      this.fetchSettings();
    }
  },
  methods: {
    saveSettings() {
      this.$store.dispatch("usermanagement/saveGroupSettings", this.settingsCopy)
      .then(
        () => this.fetchSettings,
        () => this.fetchSettings
      );
    },
    cancel() {
      this.copySettings(this.settings);
    },

    fetchSettings() {
      if (this.group.group && this.group.group.id) {
        fetch(window.apiprefix + "group/" + this.group.group.id + "/settings")
        .then(response => {
          response.json()
          .then(data => {
            if (response.status !== 200) {
              this.settings = {};
              if (response.status !== 401) {
                throw new Error(data.message || response.statusText);
              }
            } else {
              this.settings = data;
              this.copySettings(data);
            }
          });
        });
      }
    },
    copySettings(data) {
      this.settingsCopy = {
        ...data,
        ...{
          archiveSince: {...data.archiveSince}
        }
      };
    }
  }
};
</script>

<style>
.group-form {
  background-color: white;
}
.user-form {
  width: 100%;
}
</style>
