<template>
  <v-container
    fluid
    fill-height
    class="layer-form">
    <v-row>
      <v-col cols="detailView ? 4 : 12">
        <v-toolbar dense>
          <v-btn
            v-if="canAddLayer"
            :disabled="isAddingLayer"
            @click="createLayer">
            {{ $t("addLayer") }}
          </v-btn>
        </v-toolbar>
        <v-layout column>
          <v-data-table
            :headers="layerHeaders"
            :items="layers"
            class="elevation-1"
            @click:row="selectionChange">
            <template v-slot:item.action="{ item }">
              <v-icon
                v-if="canDeleteLayer(item)"
                small
                @click.stop="deleteLayer(item)">
                fa-trash
              </v-icon>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
      <v-col
        v-if="detailView"
        cols="8">
        <v-btn icon>
          <v-icon
            @click="hideDetails">
            fa-chevron-right
          </v-icon>
        </v-btn>
        <v-layout>
          <v-col
            cols="6">
            <v-flex>
              <v-text-field
                v-model="currentLayer.name"
                :label="$t('name')" />
            </v-flex>
          </v-col>
          <v-col
            cols="6">
            <v-flex>
              <v-text-field
                v-model="currentLayer.geoserverName"
                :label="$t('geoserverName')" />
            </v-flex>
          </v-col>
        </v-layout>
        <v-layout>
          <v-col
            cols="6">
            <v-text-field
              v-model="currentLayer.defaultName"
              :label="$t('defaultName')" />
          </v-col>
          <v-col
            cols="6">
            <v-checkbox
              v-model="currentLayer.baseLayer"
              :label="$t('baseLayer')" />
          </v-col>
        </v-layout>
        <v-layout>
          <v-col
            cols="6">
            <v-checkbox
              v-model="currentLayer.timeLayer"
              :label="$t('timeLayer')" />
          </v-col>
          <v-col
            cols="6">
            <v-text-field
              v-model.number="currentLayer.tickWidth"
              :disabled="currentLayer.layerType !== 'wmst'"
              step="1"
              :label="$t('tickWidth')" />
          </v-col>
          <!-- TODO clarification: amounts in milliseconds a frame covers.-->
          <!-- TODO: snapTo ? -->
        </v-layout>
        <v-layout>
          <v-col
            cols="6">
            <v-select
              v-model="currentLayer.layerType"
              :items="layerTypes"
              item-value="value"
              item-text="label"
              :label="$t('layerType')" />
          </v-col>
          <v-col
            cols="6">
            <v-checkbox
              v-model="currentLayer.singleTile"
              :disabled="currentLayer.layerType === 'google'"
              :label="$t('singleTile')" />
          </v-col>
        </v-layout>
        <v-layout>
          <v-col
            cols="6">
            <v-text-field
              v-model="currentLayer.externalServer"
              :disabled="currentLayer.layerType === 'google'"
              :label="$t('serverUrl')" />
          </v-col>
          <!-- TODO: is additional json -->
          <v-col
            cols="6">
            <v-card v-if="currentLayer.layerType !== 'google'">
              <v-card-title>
                {{ $t("serverParameter") }}
              </v-card-title>
              <v-card-text>
                <v-text-field
                  v-for="param in externalParameter"
                  :key="param.name"
                  :label="param.name"
                  :value="param.value"
                  @change="changeParameter(param, $event)" />
                <!-- TODO: different color/icon? -->
                <v-text-field
                  :label="$t('addParameter')"
                  @change="addParameter" />
              </v-card-text>
            </v-card>
          </v-col>
        </v-layout>
        <v-layout>
          <!-- save clear button -->
          <v-btn
            @click="saveLayer">
            {{ $t("save") }}
          </v-btn>
          <v-btn
            @click="resetLayer">
            {{ $t("reset") }}
          </v-btn>
        </v-layout>
      </v-col>
    </v-row>
    <ConfirmDialog ref="confirm" />
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import ConfirmDialog from "./ConfirmDialog";

export default {
  components: {
    ConfirmDialog
  },
  props: {
    group: {
      type: Object,
      default: () => {}
    },
  },
  data: () => ({
    detailView: false,
    isAddingLayer: false,
    layers: [],
    currentLayer: {},
    layerHeaders: [{
      text: "name",
      align: "left",
      value: "name"
    }, {
      text: "",
      align: "left",
      value: "action"
    }],
    layerTypes: [{
        label: "Google Maps",
        value: "google"
      },{
        label: "WMS-T",
        value: "wmst"}
    ],
    externalParameter: []
  }),
  computed: {
    ...mapState({
    }),

    canAddLayer: {
      get() {
        return this.$store.getters["application/activityCheck"](["create layer"]);
      }
    },

    canEditLayer: {
      get() {
        return this.$store.getters["application/activityCheck"](
          ["update layer"]);
      }
    },
  },
  watch: {
    currentLayer() {
      this.externalParameterChange();
    }
  },
  mounted() {
    this.refreshLayers();
  },
  methods: {
    externalParameterChange() {
      if (!this.currentLayer || !this.currentLayer.externalParameter) {
        this.externalParameter = [];
      } else {
        this.externalParameter = Object.keys(
          this.currentLayer.externalParameter)
          .map(key => {
            return {
              name: key,
              value: this.currentLayer.externalParameter[key]
            }
        })
      }
    },
    selectionChange(item) {
      // TODO extra css class to mark "active one"
      this.currentLayer = {...item};
      this.detailView = item;
    },
    changeParameter(parameter, value) {
      if (value !== "") {
        // should recognize/keep boolean values TODO: handle "wrong" input
        if (typeof parameter.value === "boolean") {
          if (value === "true" || value === true) {
            value = true;
          } else {
            value = false;
          }
        }
        this.currentLayer.externalParameter[parameter.name] = value;
        this.externalParameterChange();
      }
      else {
        this.removeParameter(parameter.name)
      }
    },
    addParameter(name) {
      // TODO: does not update displayed externalParameter
      if (!this.currentLayer.externalParameter) {
        this.currentLayer.externalParameter = {};
      }
      this.currentLayer.externalParameter[name] = '';
      this.externalParameterChange();
    },
    removeParameter(name) {
      delete this.currentLayer.externalParameter[name];
      this.externalParameterChange();
    },
    hideDetails() {
      this.currentLayer = {};
      this.detailView = false;
    },

    refreshLayers() {
      fetch(window.apiprefix + "layer")
      .then(response => {
        response.json()
        .then(data => {
          if (response.status !== 200) {
            this.layers = [];
            if (response.status !== 401) {
              throw new Error(data.message || response.statusText);
            }
          } else {
            this.layers = data;
          }
        });
      });
    },

    canDeleteLayer(layer) {
      if (!layer.id) {
        return false;
      }
      return this.$store.getters["application/activityCheck"](["delete layer"]);
    },

    saveLayer() {
      // TODO no ui
      this.isAddingLayer = false;
      this.$store.dispatch("usermanagement/saveLayer", this.currentLayer)
      .then( this.refreshLayers, this.refreshLayers);
    },

    resetLayer() {
      const original = this.layers.find(r => r.id === this.currentLayer.id);
      if (original) {
        this.currentLayer = {...original}
      } else {
        this.currentLayer = {...this.layers[0]};
      }
    },

    createLayer() {
      this.isAddingLayer = true;
      this.currentLayer = {
        name: "",
        geoserverName: "",
        defaultName: "",
        baseLayer: false,
        timeLayer: false,
        tickWidth: null,
        layerType: "wmst",
        singleTile: false,
        externalServer: "",
        externalParameter: {}
      };
      this.detailView = true;
    },

    deleteLayer(layer) {
      const text = this.$t("delete") + " " + this.$t("layer") + ` ${layer.name}?`;
      this.$refs.confirm.open(this.$t("delete") + " " + this.$t("layer") + " ", text).then(confirm => {
        if (confirm) {
          this.$store.dispatch("usermanagement/deleteLayer", layer)
          .then( this.refreshLayers, this.refreshLayers);
        }
      });
    }
  }
};
</script>

<style>
.layer-form {
  background-color: white;
  width: 100%;
}
</style>
