<template>
  <v-container
    fluid
    fill-height
    class="map-container">
    <v-layout
      justify-center
      align-center>
      <div
        :id="mapId"
        ref="ol" />
    </v-layout>
    <TimeSlider />
    <Statistics v-if="statisticsVisible" />
    <div v-if="sound">
      <audio
        v-for="ref in soundRefs"
        :key="ref"
        :ref="ref"
        src="../assets/donner.mp3" />
    </div>
  </v-container>
</template>

<style>
.map-container {
  padding: 0 !important;
  width: 100% !important;
  z-index: 0;
}

.animated-icon {
  width: 20px;
  height: 20px;
  margin: 0;
  animation-duration: 0.5s;
  background-color: red;
  border-radius: 50%;
  animation-name: enterStroke;
	animation-iteration-count: 1;
}
@keyframes enterStroke {
  0% {
    box-shadow: 0px 0px 0px 0px red;
  }
  100% {
    box-shadow: 5px 5px 5px 5px red;
  }
}
</style>

<script>
require("../../node_modules/leaflet/dist/leaflet.css");
require("../assets/donner.mp3");
import { mapState } from "vuex";
import TimeSlider from "./modules/TimeSlider";
import Statistics from "./modules/Statistics";
export default {
  components: {
    TimeSlider: TimeSlider,
    Statistics: Statistics
  },
  props: {
    mapId: {
      type: String,
      default: "map"
    }
  },
  data() {
    return {
    // identifier/references for clones of thunder sound file to play overlyed
    soundRefs: ["th0", "th1", "th2", "th3", "th4"],
    blitzEvents: null
    }
  },
  computed: {
    ...mapState({
      map: state => state.map.leaflet.LMap,
      area: state => state.application.user.strokeArea,
      minZoom: state => state.application.settings.minZoom,
      maxZoom: state => state.application.settings.maxZoom,
      sound: state => state.application.settings.sound,
      soundActive: state => state.application.playSound,
      layers: state => state.map.leaflet.availableLayers,
      archiveVisible: state => state.map.archiveVisible,
      statisticsVisible: state => state.map.statisticsVisible,
      geosearchlatlng: state => state.geosearch.latlng,
      userLayers: state => state.application.user.userLayers,
      userLayerStates: state => state.application.layerState
    })
  },
  watch: {
    soundActive(newValue) {
      if (!newValue) {
        this.soundRefs.map(ref => this.$refs[ref][0].pause());
      }
    },
    geosearchlatlng() {
      this.$store.commit("map/zoomMapLatLng", this.geosearchlatlng);
    }
  },

  mounted() {
    let height = this.$el.offsetHeight;
    if (height === window.innerHeight) {
      height -= 48;
    }
    this.$refs.ol.setAttribute(
      "style",
      "height: " + height + "px; width:100%;"
    );
    if (this.$store.getters["application/activityCheck"](
      ['connect stroke stream'])
    ) {
      this.blitzEvents = new EventSource(window.apiprefix + "strokestream");
    }
    const callback = () => {
      this.$store.commit("map/createMap", {
        target: this.$refs.ol,
        minZoom: this.minZoom,
        maxZoom: this.maxZoom
      });
      if (this.area && this.area.length) {
        this.$store.commit("map/setAOI", this.area);
      }
      for (const layer of this.layers.filter(l => l.isActive)) {
        this.$store.commit("map/toggleLayer", {
          layerObj: layer,
          newState: true
        });
      }
      const me = this;
      if (this.blitzEvents && this.blitzEvents.readyState !== 2) {
        // 2: 'closed', probably due to authorization
        this.blitzEvents.addEventListener("lightning", function(evt) {
          if (evt.data) {
            const data = JSON.parse(evt.data);
            me.addStreamStroke(data.lat, data.lon);
          }
        });
      }
    };
    if (this.$store.getters["application/activityCheck"](['get layer'])) {
      this.$store.dispatch("map/fetchLayers", {
        layers: this.userLayers,
        layerStates: this.userLayerStates})
      .then(callback);
    } else {
      callback();
    }
  },


  /**
   * Deconstructor. Saves the map location state and cleanly removes map layers
   */
  beforeDestroy() {
    this.$store.commit("map/saveAndRemoveMap");
  },
  methods: {

    /**
    * TODO: setting/using a useful animated icon
    * (see this file's style 'animated-icon' and enterStroke)
    * and map.js:addMarker
    */
    addStreamStroke(lat, lng) {
      if (!lat || !lng) {
        return;
      }
      this.$store.dispatch("map/addMarker", {lat: lat, lng: lng})
      .then( () => {
        if (this.soundActive) {
          const audios = this.soundRefs.map(ref => this.$refs[ref][0]);
          if (audios.length ) {
            const available = audios.find(
              th => th.ended || th.currentTime < 0.1);
            if (available) {
              available.play();
            }
          }
        }
      });
    }
  }
};
</script>
