<template>
  <v-container
    fluid
    fill-height
    class="permissions-container">
    <v-layout
      column
      align-end>
      <v-card
        :width="sidebar"
        class="permissions-card elevation-5">
        <v-breadcrumbs
          :items="activeItems"
          divider="-" />
        <v-divider />
        <v-layout>
          <v-layout
            column
            class="permissions-tree-container">
            <v-text-field
              v-model="search"
              :label="$t('search')"
              hide-details
              class="user-search" />
            <v-treeview
              class="permissions-tree"
              :items="items" />
          </v-layout>
          <v-divider vertical />
          <v-form
            ref="form"
            class="user-form">
            <v-text-field
              v-model="name"
              :counter="10"
              :label="$t('name')" />

            <v-text-field
              v-model="email"
              :label="$t('mail')" />

            <v-select
              v-model="select"
              :items="groups"
              :label="$t('groups')"
              attach
              chips
              multiple />

            <v-checkbox
              v-model="checkbox"
              :label="$t('liveUpdate')" />

            <v-btn color="">
              {{ $t("cancel") }}
            </v-btn>

            <v-btn color="success">
              {{ $t("save") }}
            </v-btn>
          </v-form>
        </v-layout>
      </v-card>
    </v-layout>
  </v-container>
</template>
<style>
.permissions-container {
  width: 100% !important;
  padding: 17px;
}
.permissions-card {
  padding: 10px;
}
.permissions-tree-container {
  max-width: 300px;
}
.permissions-tree {
  margin: 15px;
  min-width: 250px;
}
.user-search {
  max-width: 250px;
  margin: 15px;
  display: table !important;
}
</style>
<script>
import { mapState } from "vuex";
export default {
  data: () => ({
    name: "Testnutzer",
    email: "test@example.com",
    select: [],
    checkbox: false,
    search: "",
    activeItems: [
      {
        text: "Gruppe3"
      },
      {
        text: "Untergruppe"
      },
      {
        text: "Untergruppe2"
      },
      {
        text: "Testnutzer"
      }
    ],
    groups: ["Gruppe1", "Gruppe2", "Gruppe3", "Gruppe4"],
    items: [
      {
        id: 1,
        name: "Gruppe1",
        children: [
          { id: 2, name: "Gruppe2" },
          { id: 3, name: "Benutzer1" },
          { id: 4, name: "Benutzer2" }
        ]
      },
      {
        id: 5,
        name: "Gruppe3",
        children: [
          {
            id: 6,
            name: "Untergruppe",
            children: [
              {
                id: 7,
                name: "Untergruppe2",
                children: [
                  { id: 8, name: "Testnutzer" },
                  { id: 9, name: "Benutzer2" }
                ]
              }
            ]
          },
          {
            id: 10,
            name: "Gruppe4",
            children: [
              {
                id: 11,
                name: "Untergruppe2",
                children: [
                  { id: 12, name: "Benutzer3" },
                  { id: 13, name: "Benutzer4" },
                  { id: 14, name: "Benutzer5" }
                ]
              }
            ]
          }
        ]
      },
      {
        id: 15,
        name: "Gruppe5",
        children: [
          { id: 16, name: "Gruppe4" },
          { id: 17, name: "Benutzer5" },
          { id: 18, name: "Benutzer6" }
        ]
      },
      {
        id: 19,
        name: "Gruppe6",
        children: [
          {
            id: 20,
            name: "Gruppe7",
            children: [
              { id: 21, name: "Benutzer7" },
              { id: 22, name: "Benutzer8" },
              { id: 23, name: "Benutzer9" }
            ]
          },
          { id: 24, name: "Benutzer10" },
          { id: 25, name: "Benutzer11" }
        ]
      }
    ]
  }),
  computed: {
    ...mapState({
      sidebar: state => {
        if (state.application.sidebar) return window.innerWidth - 345;
        return "100%";
      }
    })
  },
  mounted() {}
};
</script>
