<template>
  <v-container
    fluid
    fill-height
    class="role-form">
    <v-row>
      <v-col cols="detailView ? 4 : 12">
        <v-toolbar dense>
          <v-btn
            v-if="canAddRole"
            :disabled="isAddingRole"
            @click="createRole">
            {{ $t("addRole") }}
          </v-btn>
        </v-toolbar>
        <v-layout column>
          <v-data-table
            :headers="roleHeaders"
            :items="roles"
            class="elevation-1"
            @click:row="selectionChange">
            <template v-slot:item.parent="{ item }">
              {{ parentName(item) }}
            </template>
            <template v-slot:item.action="{ item }">
              <v-icon
                v-if="canDeleteRole(item)"
                small
                @click.stop="deleteRole(item)">
                fa-trash
              </v-icon>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
      <v-col
        v-if="detailView"
        cols="8">
        <v-btn icon>
          <v-icon
            @click="hideDetails">
            fa-chevron-right
          </v-icon>
        </v-btn>
        <v-layout>
          <v-text-field
            v-model="currentRole.name"
            :label="$t('name')" />
          <v-select
            v-model="currentRole.parent"
            :disabled="currentRole.id !== undefined"
            item-text="name"
            item-value="id"
            :label="$t('parentRole')"
            :items="roles" />
          <v-btn
            @click="saveRole">
            {{ $t("save") }}
          </v-btn>
          <v-btn
            @click="resetRole">
            {{ $t("reset") }}
          </v-btn>
          <!-- save clear delete button -->
        </v-layout>
        <v-layout v-if="currentRole.id">
          <v-data-table
            :headers="permissionHeaders"
            :items="permissions"
            class="elevation-1">
            <template v-slot:item.toggle="{ item }">
              <v-btn
                :disabled="noTogglePermission(item)"
                @click="togglePerm(item)">
                <v-icon>
                  {{ roleHasPermission(item) ? "fa-check": "fa-times" }}
                </v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-layout>
      </v-col>
    </v-row>
    <ConfirmDialog ref="confirm" />
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import ConfirmDialog from "./ConfirmDialog";

export default {
  components: {
    ConfirmDialog
  },
  props: {
    group: {
      type: Object,
      default: () => {}
    },
  },
  data: () => ({
    detailView: false,
    isAddingRole: false,
    roles: [], // id, parent, name
    currentRole: {},
    // the permissions the parent of currentRole (if any) has:
    // the role cannot have more permissions than parent
    parentRolePermissions: [],

    // the permissions the currentRole currently has
    rolePermissions: [],
  }),
  computed: {
    ...mapState({
      // the role(s?) the user is part of.
      ownRoles: state => {
          const allRoles = state.application.UserActivities.roles;
          const roles = [];
          for (const i in allRoles) {
            roles.push(allRoles[i]);
          }
          return roles.sort((a,b) => a.id > b.id);
      },
      // all available permissions (the user is aware of)
      permissions: state => {
          const perms = state.application.UserActivities.permissions;
          const permissions = [];
          for (const i in perms) {
            permissions.push(perms[i]);
          }
          return permissions.sort((a,b) => a.id > b.id);
      }
    }),

    canAddRole: {
      get() {
        return this.$store.getters["application/activityCheck"](["create role"]);
      }
    },

    canEditRole: {
      get() {
        return this.$store.getters["application/activityCheck"](
          ["update role"]);
      }
    },

    roleHeaders: {
      get() {
        return [{
          text: this.$t("name"),
          align: "left",
          value: "name"
        }, {
          text: this.$t("parent"),
          align: "left",
          value: "parent"
        }, {
          text: "",
          align: "left",
          value: "action"
        }];
      }
    },
    permissionHeaders: {
      get () {
        return [{
          text: this.$t("name"),
          value: "name"
        }, {
          text: "",
          value: "toggle"
        }];
      }
    }
  },
  watch: {
    currentRole() {
      this.refreshPermissions();
    }
  },
  mounted() {
    this.refreshRoles();
  },
  methods: {
    selectionChange(item) {
      // TODO extra css class to mark "active one"
      this.currentRole = {...item};
      this.detailView = item;
    },
    hideDetails() {
      this.currentRole = {};
      this.detailView = false;
    },

    refreshRoles() {
      fetch(window.apiprefix + "role")
      .then(response => {
        response.json()
        .then(data => {
          if (response.status !== 200) {
            this.roles = [];
            if (response.status !== 401) {
              throw new Error(data.message || response.statusText);
            }
          } else {
            this.roles = Array.isArray(data) ? data: [];
          }
        })
      });
    },

    refreshPermissions(){
      if (this.currentRole.id) {
        fetch(window.apiprefix + "role/" + this.currentRole.id + "/permission")
        .then(response => {
          response.json()
          .then(data => {
            if (response.status !== 200) {
              this.rolePermissions = [];
              this.parentRolePermissions = [];
              if (response.status !== 401) {
                throw new Error(data.message || response.statusText);
              }
            } else {
              this.rolePermissions = Array.isArray(data) ? data: [];
              if (this.currentRole.parent &&
                this.roles.some(r=> r.id === this.currentRole.parent)
              ) {
                fetch(window.apiprefix + "role/" + this.currentRole.parent + "/permission")
                .then(response => {
                  response.json()
                  .then(data => {
                    if (response.status !== 200) {
                      this.parentRolePermissions = this.rolePermissions;
                      if (response.status !== 401) {
                        throw new Error(data.message || response.statusText);
                      }
                    } else {
                      this.parentRolePermissions = Array.isArray(data) ?
                        data : [];
                    }
                  });
                });
              }
            }
          });
        });
      }
    },

    parentName(role) {
      if (!role.parent) {
        return "";
      }
      const parent = this.roles.find(r => r.id === role.parent);
      return parent ? parent.name : "";
    },

    parentHasPermission(permission) {
      if (!this.currentRole.parent) {
        return true;
      }
      if (!this.parentRolePermissions || !this.parentRolePermissions.length) {
        return false;
      }
      return this.parentRolePermissions.some(perm => perm.id === permission.id);
    },

    roleHasPermission(permission) {
      if (!this.rolePermissions || !this.rolePermissions.length) {
        return false;
      }
      return this.rolePermissions.some(perm => perm.id === permission.id);
    },

    canDeleteRole(role) {
      if (!role.id || this.ownRoles.some(or => or.id === role.id)) {
        return false;
      }
      return this.$store.getters["application/activityCheck"](["delete role"]);
    },

    togglePerm(permission) {
      this.$store.dispatch("usermanagement/changeRolePermission",{
          role: this.currentRole,
          permission: permission,
          newState: !this.roleHasPermission(permission)
      }).then(this.refreshPermissions, this.refreshPermissions);
    },

    saveRole() {
      this.isAddingRole = false;
      this.$store.dispatch("usermanagement/saveRole", this.currentRole)
      .then( this.refreshRoles, this.refreshRoles);
    },

    resetRole() {
      const original = this.roles.find(r => r.id === this.currentRole.id);
      if (original) {
        this.currentRole = {...original}
      } else {
        this.currentRole = {...this.roles[0]};
      }
    },

    noTogglePermission(perm) {
      if (this.ownRoles.some(or => or.id === this.currentRole.id)) {
        return true;
      }
      return !this.parentHasPermission(perm);
    },

    createRole() {
      this.isAddingRole = true;
      this.currentRole = {
        parent: this.currentRole,
        name: ""
      };
      this.detailView = true;
    },

    deleteRole(role) {
      const text = this.$t("delete")  + " " + this.$t("role") + ` ${role.name}?`;
      this.$refs.confirm.open(this.$t("delete") + " " + this.$t("role"), text).then((confirm) => {
        if (confirm) {
          this.$store.dispatch("usermanagement/deleteRole", role)
          .then( this.refreshRoles, this.refreshRoles);
        }
      });
    }
  }
};
</script>

<style>
.role-form {
  background-color: white;
  width: 100%;
}
</style>
