<template>
  <v-tabs grow>
    <v-tab
      v-if="canEditUser"
      active-class="active-tab">
      {{ $t("layer") }}
    </v-tab>
    <v-tab
      v-if="canEditRoles"
      active-class="active-tab">
      {{ $t("role") }}
    </v-tab>
    <v-tab-item v-if="canEditUser">
      <LayerManagement />
    </v-tab-item>
    <v-tab-item v-if="canEditRoles">
      <RoleManagement />
    </v-tab-item>
  </v-tabs>
</template>

<script>
import { mapState } from "vuex";
import RoleManagement from "./RoleManagement";
import LayerManagement from "./LayerManagement";

export default {
  components: {
    RoleManagement,
    LayerManagement
  },
  computed: {
    ...mapState({
      sidebar: state => {
        if (state.application.sidebar) return window.innerWidth - 345;
        return "100%";
      }
    }),
    canEditUser: {
      get() {
        return this.$store.getters["application/permCheck"](
          ["edit users"]);
      }
    },
    canEditRoles: {
      get() {
        return this.$store.getters["application/permCheck"](
          ["list roles", "edit roles"]);
      }
    }
  }
};
</script>

<style>
.settings-container {
  width: 100% !important;
}
.active-tab {
  font-weight: bold;
  background-color: lightgray;
  color: rgb(73, 73, 73) !important
}
</style>
