<template>
  <v-navigation-drawer
    v-model="visible"
    absolute
    class="sidebar d-inline-block elevation-5"
    @transitionend="hide">
    <v-list>
      <v-list-item
        v-for="(item, i) in items"
        :key="i"
        color="base"
        class="menu-item"
        :to="item.link">
        <v-list-item-action class="sidebar-icon">
          <v-icon medium>
            {{ item.icon }}
          </v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title color="base">
            {{
              $t(item.title)
            }}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<style scoped>
.sidebar {
  top: 65px !important;
  margin-left: 15px;
  width: 285px !important;
  height: inherit !important;
  border-radius: 4px;
}
.menu-item {
  cursor: pointer;
}
.sidebar-icon {
  justify-content: center;
}
</style>

<script>
export default {
  data: () => ({
    items: []
  }),
  computed: {
    visible: {
      get() {
        return this.$store.state.application.sidebar;
      },
      set(value) {
        this.$store.commit("application/sidebar", value);
      }
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.add({
        icon: "fa-globe-europe",
        title: "map",
        link: "/"
      });
      this.addWithPermissions(["userlog"], {
        icon: "fa-address-card",
        title: "userLog",
        link: "/userlog"
      });
      this.addWithPermissions(
        ["alarmstream"], {
          icon: "fa-broadcast-tower",
          title: "alarmLog",
          link: "/alarmlog"
      });
      this.addWithPermissions(
        ["list groups", "edit groups"], {
          icon: "fa-users",
          title: "management",
          link: "/management"
      });
      this.addWithPermissions(
        ["list layers", "edit layers", "list roles", "edit roles"], {
        icon: "fa-cogs",
        title: "settings",
        link: "/settings"
      });
      this.add({
        icon: "fa-user",
        title: "profile",
        link: "/profile"
      });
      this.add({
        icon: "fa-info-circle",
        title: "about",
        link: "/about"
      });
    });
  },
  methods: {
    hide() {
      if (!this.visible) {
        this.$el.style.marginLeft = "0px";
      } else {
        this.$el.style.marginLeft = "15px";
      }
    },
    add(item) {
      this.items.push(item);
    },
    addWithPermissions(permissions, item) {
      if (this.$store.getters["application/permCheck"](permissions)) {
        this.items.push(item);
      }
    }
  }
};
</script>
