<template>
  <v-app-bar
    color="primary"
    clipped-left
    dense
    app>
    <v-app-bar-nav-icon @click.stop="toggleSidebar" />
    <v-img
      max-height="35px"
      max-width="200px"
      contain
      :src="titleLogo" />
    <v-toolbar-title class="headline text-uppercase">
      <span>{{ title }}</span>
      <span class="font-weight-light" />
    </v-toolbar-title>
    <v-spacer />
    <GeoSearch />
    <v-spacer />
    <v-label>{{ username }}</v-label>
    <v-btn
      v-if="sound"
      icon
      @click.stop="toggleSound">
      <v-icon>{{ soundIcon }}</v-icon>
    </v-btn>
    <v-btn
      icon
      @click="logout">
      <v-icon>fa-sign-out-alt</v-icon>
    </v-btn>
    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn
          icon
          v-on="on">
          <v-icon>fa-flag</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          class="menu-item"
          @click="langEn">
          <v-list-item-title>{{ $t("langEn") }}</v-list-item-title>
        </v-list-item>
        <v-list-item
          class="menu-item"
          @click="langDe">
          <v-list-item-title>{{ $t("langDe") }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
    <v-label>{{ $i18n.locale.toUpperCase() }}</v-label>
  </v-app-bar>
</template>

<script>
import { mapState } from "vuex";
import GeoSearch from "./GeoSearch";
export default {
  components: {
    GeoSearch
  },
  computed: {
    ...mapState({
      username: state => state.application.user.displayName,
      sound: state => state.application.settings.sound,
      soundIcon: state => {
        return state.application.playSound ? "fa-volume-up" : "fa-volume-mute";},
      title: state => state.application.title,
      titleLogo: state => {
        if (state.application.logo.source === "base64") {
          let tmp =
            "data:" +
            state.application.logo.mimetype +
            ";base64," +
            state.application.logo.data;
          return tmp;
        }
        return state.application.logo.data;
      }
    })
  },
  mounted() {},
  methods: {
    toggleSidebar() {
      this.$store.commit(
        "application/sidebar",
        !this.$store.state.application.sidebar
      );
    },
    toggleSound() {
      this.$store.commit("application/toggleSound");
    },
    logout() {
      this.$store.dispatch("application/logOut");
      this.$router.push("/login");
    },
    langEn() {
      this.$i18n.locale = "en";
    },
    langDe() {
      this.$i18n.locale = "de";
    }
  }
};
</script>

<style>
.menu-item {
  cursor: pointer;
}
</style>
