<template>
  <v-container class="base-container">
    <v-layout justify-center>
      <v-card>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex v-if="!userCopy.id">
                <v-text-field
                  v-model="userCopy.name"
                  :label="$t('userName')"
                  required />
              </v-flex>
              <v-flex
                xs12
                sm6
                md4>
                <v-text-field
                  v-model="userCopy.firstName"
                  :label="$t('firstName')"
                  required />
              </v-flex>
              <v-flex
                xs12
                sm6
                md4>
                <v-text-field
                  v-model="userCopy.lastName"
                  :label="$t('lastName')" />
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="userCopy.company"
                  :label="$t('company')" />
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="userCopy.division"
                  :label="$t('division')" />
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="userCopy.email"
                  :label="$t('mail')" />
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="userCopy.street"
                  :label="$t('street')" />
              </v-flex>
              <v-flex
                xs4
                sm6
                md6>
                <v-text-field
                  v-model="userCopy.zip"
                  :label="$t('zip')" />
              </v-flex>
              <v-flex
                xs12
                sm8
                md6>
                <v-text-field
                  v-model="userCopy.city"
                  :label="$t('city')" />
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="userCopy.phonenumber"
                  :label="$t('phone')" />
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  v-model="userCopy.mobilenumber"
                  :label="$t('mobile')" />
                <v-text-field
                  v-model="userCopy.annotation"
                  :label="$t('annotation')" />
              </v-flex>
              <v-flex
                xs4
                sm6
                md6>
                <v-menu
                  ref="menu0"
                  v-model="tmenu0"
                  :close-on-content-click="false"
                  :return-value.sync="startDate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="startDateFormatted"
                      :label="$t('startDate')"
                      prepend-icon="fa-calendar"
                      readonly
                      v-on="on" />
                  </template>
                  <v-date-picker
                    v-model="startDate"
                    no-title
                    scrollable>
                    <v-spacer />
                    <v-btn
                      text
                      color="primary"
                      @click="tmenu0 = false">
                      {{ $t("cancel") }}
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu0.save(startDate)">
                      {{ $t("ok") }}
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-flex>
              <v-flex
                xs4
                sm6
                md6>
                <v-menu
                  ref="menu1"
                  v-model="tmenu1"
                  :close-on-content-click="false"
                  :return-value.sync="stopDate"
                  transition="scale-transition"
                  offset-y
                  min-width="290px">
                  <template v-slot:activator="{ on }">
                    <v-text-field
                      v-model="stopDateFormatted"
                      :label="$t('stopDate')"
                      prepend-icon="fa-calendar"
                      readonly
                      v-on="on" />
                  </template>
                  <v-date-picker
                    v-model="stopDate"
                    no-title
                    scrollable>
                    <v-spacer />
                    <v-btn
                      text
                      color="primary"
                      @click="tmenu1 = false">
                      {{ $t("cancel") }}
                    </v-btn>
                    <v-btn
                      text
                      color="primary"
                      @click="$refs.menu1.save(stopDate)">
                      {{ $t("ok") }}
                    </v-btn>
                  </v-date-picker>
                </v-menu>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-toolbar
          dense>
          <v-btn
            class="mr-2"
            color="success"
            :disabled="saveDisabled"
            @click="saveUser()">
            <v-icon left>
              fa-save
            </v-icon>
            {{ $t("save") }}
          </v-btn>
          <v-btn
            color=""
            :disabled="saveDisabled"
            @click="reset()">
            <v-icon left>
              fa-times
            </v-icon>
            {{ $t("cancel") }}
          </v-btn>
        </v-toolbar>
      </v-card>
      <ConfirmDialog ref="confirm" />
    </v-layout>
  </v-container>
</template>

<script>
import ConfirmDialog from "../components/ConfirmDialog";
import { mapState } from "vuex";
export default {
  components: {
    ConfirmDialog: ConfirmDialog
  },
  props: {
    user: {
      type: Object,
      default: () => {}
    },
  },
  data: () => ({
    userCopy: {},
    tmenu0: false,
    tmenu1: false,
    dateDisplayFormat: {
      day: "2-digit",
      month: "2-digit",
      year: "numeric"
    }
  }),
  computed: {
    ...mapState({
      myUID: state => state.application.user.userInfo.id,
      groups: state => state.usermanagement.groups
    }),
    startDateFormatted() {
      return new Date(this.startDate).toLocaleDateString(
        "de", this.dateDisplayFormat);
      },
    stopDateFormatted() {
      return new Date(this.stopDate).toLocaleDateString(
        "de", this.dateDisplayFormat);
    },
    saveDisabled: {
      get() {
        return JSON.stringify(this.userCopy) === JSON.stringify(this.user);
      }
    },
    startDate: {
      get() {
        if (!this.userCopy.startDate) {
          return '1970-01-01';
        }
        return new Date(this.userCopy.startDate.Time).toISOString().substr(0,10);
      },
      set(value) {
        this.userCopy.startDate.Time = new Date(value).toISOString();
      }
    },
    stopDate: {
      get() {
        if (!this.userCopy.stopDate) {
          return '1970-01-01';
        }
        return new Date(this.userCopy.stopDate.Time).toISOString().substr(0,10);
      },
      set(value) {
        this.userCopy.stopDate.Time = new Date(value).toISOString();
      }
    },
    locale: {
      get() { return this.$i18n.locale; }
    },
    canDeleteUser: {
      get() {
        if (!this.userCopy.id || this.userCopy.id === this.myUID) {
          return false;
        }
        return (this.$store.getters["application/activityCheck"](['delete user']))
      }
    },
    userGrp: {
      get() {
        if (this.userCopy && this.userCopy.groupId) {
          return this.groups[this.userCopy.groupId].group.name;
        }
        return '';
      }
    }
  },

  watch: {
    user() {
      this.copyUser();
    }
  },
  mounted() {
    this.copyUser();
  },
  methods: {
    saveUser() {
      this.$store.dispatch("usermanagement/saveUser", this.userCopy)
      .then( this.copyUser, this.copyUser);
    },
    reset() {
      this.copyUser();
    },
    deleteUser() {
      const text = this.$t("delete") + " " + this.$t("user") + ` ${this.userCopy.name}?`;
      this.$refs.confirm.open(this.$t("delete") + " " + this.$t("user"), text).then((confirm) => {
        if (confirm) {
          this.$store.dispatch("usermanagement/deleteUser", this.userCopy);
        }
      });
    },
    copyUser() {
      this.userCopy = {
        ...this.user,
        ...{
          startDate: {...this.user.startDate},
          stopDate: {...this.user.stopDate}
        }
      };
    }
  }
};
</script>

<style scoped>
.base-container {
  height: 100%;
  width: 100%;
  padding: 0px;
}
</style>
