<template>
  <v-container fluid>
    <v-row>
      <v-col cols="detailView ? 4: 12">
        <v-toolbar
          dense>
          <v-btn
            v-if="canAddUser()"
            :disabled="isAddingUser"
            @click="addUser">
            {{ $t("addUser") }}
          </v-btn>
        </v-toolbar>
        <v-data-table
          :headers="displayHeaders"
          :items="users"
          class="elevation-1"
          @click:row="selectionChange">
          <template v-slot:item.action="{ item }">
            <v-icon
              small
              @click.stop="deleteUser(item)">
              fa-trash
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
      <v-col
        v-if="detailView"
        cols="8">
        <v-btn icon>
          <v-icon
            @click="hideDetails">
            fa-chevron-right
          </v-icon>
        </v-btn>
        <span
          v-if="currentUser.id"
          class="headline">
          {{ $t('settingsFor') }} {{ currentUser.firstName }} {{ currentUser.lastName }} ({{ currentUser.name }})
        </span>
        <span
          v-if="!currentUser.id"
          class="headline">
          {{ $t('settingsForNewUser') }}
        </span>
        <v-tabs>
          <v-tab v-if="canEditUser">
            {{ $t('profile') }}
          </v-tab>
          <v-tab v-if="canSeeUserAlarmSettings(currentUser)">
            {{ $t('alarmSettings') }}
          </v-tab>
          <v-tab v-if="canSeeUserAlarms()">
            {{ $t('alarms') }}
          </v-tab>
          <v-tab-item v-if="canEditUser">
            <UserSettings
              :user="currentUser" />
          </v-tab-item>
          <v-tab-item v-if="canSeeUserAlarmSettings(currentUser)">
            <AlarmManagementForm
              :user="currentUser"
              :readonly="!canManageUserAlarmSettings(currentUser)" />
          </v-tab-item>
          <v-tab-item v-if="canSeeUserAlarms()">
            <v-select
              v-if="selectableGroupAlarms.length"
              v-model="alarmAdd"
              :items="selectableGroupAlarms"
              item-value="id"
              item-text="name"
              :label="$t('addAlarm')" />
            <v-data-table
              :headers="alarmTableHeader"
              :items="currentUserAlarms"
              class="elevation-1">
              <template v-slot:item.action="{ item }">
                <v-icon
                  small
                  @click.stop="deleteUserAlarm(item)">
                  fa-trash
                </v-icon>
              </template>
            </v-data-table>
          </v-tab-item>
        </v-tabs>
      </v-col>
    </v-row>
    <ConfirmDialog ref="confirm" />
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import UserSettings from "./UserSettings.vue";
import AlarmManagementForm from "../components/AlarmManagementForm";
import ConfirmDialog from "../components/ConfirmDialog";

export default {
  components: {
    AlarmManagementForm: AlarmManagementForm,
    UserSettings: UserSettings,
    ConfirmDialog: ConfirmDialog
  },
  data() {
    return {
      detailView: false,
      currentUser: {},
      currentUserAlarms: [],
      groupAlarms: [],
      selectableGroupAlarms: [],
      alarmTableHeader: [{
        text: "name",
        value: "name"
      }, {
        text: "",
        value: "action"
      }]
    };
  },
  computed: {
    ...mapState({
      myUID: state => state.application.user.userInfo.id,
      groupId: state => state.usermanagement.currentGroup.group.id,
      users: state => state.usermanagement.userList,
      submitFields: state => state.usermanagement.userSubmitFields
    }),
    displayHeaders: {
      get() {
        return this.detailView ? this.tableHeader.slice(0,3): this.tableHeader;
      }
    },
    isAddingUser: {
      get() {
        if (!this.currentUser || !this.detailView || this.currentUser.id ) {
          return false;
        }
        return true;
      }
    },
    canEditUser: {
      get() {
        return this.$store.getters["application/activityCheck"](
          ['update user']);
      }
    },
    alarmAdd: {
      get() {
        return {};
      },
      set(value) {
        this.addUserAlarm(this.groupAlarms.find(ga => ga.id = value));
      }
    },
    tableHeader: {
      get() {
        return [{
          text: this.$t("firstName"),
          align: "left",
          value: "firstName"
        }, {
          text: this.$t("lastName"),
          align: "left",
          value: "lastName"
        }, {
          text: this.$t("userName"),
          align: "left",
          value: "name"
        }, {
          text: this.$t("company"),
          align: "left",
          value: "company"
        }, {
          text: this.$t("division"),
          align: "left",
          value: "division"
        }, {
          value: "action",
          width: "30px",
          sortable: false
        }];
      }
    }
  },
  watch: {
    users() {
      if (this.users.length && this.currentUser && this.currentUser.id) {
        const newUser = this.users.find(u => u.id === this.currentUser.id);
        if (newUser) {
          this.currentUser = newUser;
          this.detailView = true;
        } else {
          this.currentUser = {};
          this.detailView = false;
        }
      } else {
        this.currentUser = {};
        this.detailView = false;
      }
      this.getGroupAlarms();
    }
  },
  mounted() {
    this.$store.commit("alarmmanagement/fetchTemplates");
    this.getGroupAlarms();
  },
  methods: {
    deleteUser(item) {
      const text = this.$t("delete") + " " + this.$t("user") + ` ${item.name}?`;
      this.$refs.confirm.open(this.$t("delete") + " " + this.$t("user"), text).then((confirm) => {
        if (confirm) {
          this.$store.dispatch("usermanagement/deleteUser", item);
        }
      });
    },
    selectionChange(item) {
      this.currentUser = item;
      fetch(`user/${item.id}/alarm`)
      .then(response => {
        response.json()
        .then(data => {
          if (response.status !== 200) {
            this.currentUserAlarms = [];
            this.selectableGroupAlarms = this.groupAlarms;
            if (response.status !== 401) {
              throw new Error(data.message || response.statusText);
            }
          } else {
            if (Array.isArray(data)) {
              this.currentUserAlarms = data;
              this.selectableGroupAlarms = this.groupAlarms.filter(ga => {
                return !data.some(d => d.id === ga.id)
              });
            } else {
              this.selectableGroupAlarms = this.groupAlarms;
              this.currentUserAlarms = [];
            }
          }
        });
      });
      this.detailView = true;
    },
    canManageUserAlarmSettings(item) {
      if (!item.id || this.isAddingUser ) {
        return false;
      }
      return this.$store.getters["application/activityCheck"](['update alarmsetting']);
    },
    canSeeUserAlarmSettings(item) {
      if (!item.id || this.isAddingUser ) {
        return false;
      }
      return this.$store.getters["application/activityCheck"](['get alarmsetting']);
    },

    canSeeUserAlarms() {
      if (this.isAddingUser) {
        return false;
      }
      return this.$store.getters["application/activityCheck"](['get user alarm']);
    },
    canManageUserAlarms() {
      return this.$store.getters["application/activityCheck"](
        ["add user alarm", "delete user alarm", "get user alarm"]);
    },
    canAddUser() {
      return this.$store.getters["application/activityCheck"](['create user']);
    },
    addUser() {
      const currentUser = {};
      this.submitFields.map(f => currentUser[f] = '');
      currentUser.startDate = {
        Time: new Date().toISOString(),
        Status: 2,
        InfinityModifier: 0
      };
      currentUser.stopDate = {
        Time: new Date().toISOString(),
        Status: 2,
        InfinityModifier: 0
      };
      currentUser.groupId = this.groupId;
      this.currentUser = currentUser;
      this.detailView = true;
    },
    hideDetails() {
      this.currentUser = {};
      this.detailView = false;
    },

    deleteUserAlarm(item) {
      this.$store.dispatch("alarmmanagement/deleteUserAlarm", {
        userId: this.currentUser.id,
        alarm: item
      }).then(
        this.selectionChange(this.currentUser),
        this.selectionChange(this.currentUser)
      );
    },
    addUserAlarm(item) {
      this.$store.dispatch("alarmmanagement/addUserAlarm", {
        userId: this.currentUser.id,
        alarm: item
      }).then(
        this.selectionChange(this.currentUser),
        this.selectionChange(this.currentUser)
      );
    },
    getGroupAlarms() {
      fetch(`group/${this.groupId}/alarm`)
      .then(response => {
        response.json()
        .then(data => {
          if (response.status !== 200) {
            this.groupAlarms = [];
            if (response.status !== 401) {
              throw new Error(data.message || response.statusText);
            }
          } else {
            this.groupAlarms = Array.isArray(data) ? data : [];
          }
        });
      });
    }
  }
};
</script>

<style>
.redborder {
  border: solid 1px red;
}
</style>
